# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Dictionaries
1. Create a dictionary with two keys: `even_numbers` and `odd_numbers`. The first key should have all the even numbers in this range `[0, 2000]`, and the second key must have all the odd numbers in this range `[9000, 19000]`. The values should be stored in a `list`. **Hint: Use the `np.arange`, `zip`, and `np.tolist()` functions.** <br><br>
2. Print the value of `brand` key of `car` dictionary. **Hint: Use the `get` method.** <br><br>
3. Print all the the values of `brand` key of `car` dictionary. **Hint: Use the `values` method.** <br><br>
4. Print the max value  of `friday` in `january` of `hr_sleep` dictionary. **Hint: [Indexing in nested dictioanries](https://stackoverflow.com/questions/25836376/how-to-get-the-inner-indexes-of-a-nested-dictionary-in-python).** <br><br>
5. Add `march` key to the `hr_sleep` dictionary using `week1` and `values2` Python lists. **Hint: Use `zip` function adn [this link](https://stackoverflow.com/questions/1024847/how-can-i-add-new-keys-to-a-dictionary).** <br><br>

In [156]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

hr_sleep = {"january": {"wednesday": 7,
                      "thursday": 8,
                      "friday": [2, 2, 1, 2]},
          "february": {"saturday": 5,
                       "sunday": 10,
                       "monday": 8
          }
}

In [4]:
week1 = ['monday', 'sunday']
values2 = [ [2, 3, 4 ] , 8, ]

In [5]:
## Pregunta 2
car.get("brand")

'Ford'

In [7]:
## Pregunta 3
car.values()

dict_values(['Ford', 'Mustang', 1964])

## 1.2 Numpy
1. Replace all the `even_numbers` in `np1` with 100. **Hint: Use `indexing` in arrys and [this filer](https://stackoverflow.com/questions/41638751/filtering-even-numbers-in-python).** <br><br>
2. Create a 3x3 matrix with values ranging from 0 to 8. **Hint: Use `np.arange` and `np.reshape` method.** <br><br>
3. Consider an array `Z = [1,2,3,4,5,6,7,8,9,10]`, generate an array `R = [ [ 1, 2, 3, 4], [ 2, 3, 4, 5 ], [ 3, 4, 5, 6 ], ..., [ 7, 8, 9, 10 ] ]`?.**Hint: Use `np.arange` and `np.concatenate`** <br><br>
4. Create a 3x3x3 array with random values. **Hint: Use [`np.random.random`](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.random.html).** <br><br>
5. Comment why this expression `np.nan == np.nan` is False. **Hint: Use stackoverflow.** <br><br>
6. Print the `mean` and `standard deviation` of `np2`. **Hint: Use `f-string`, `np.mean`, and `np.var` methods.**

In [2]:
import numpy as np
np1 = np.arange( 200, 750)
np2 = np.random.normal( 50 , 4, 300)

## 1.3 Restricted Least Squares

Given the following equation:


$$
\begin{aligned} 
lnCT &= \beta_{0}+\beta_{q}lnq+ \frac{1}{2}\beta_{qq} lnq^2+\beta_{q1}lnqlnp_1+\beta_{q2}lnqlnp_2+ \beta_{q3}lnqlnp_{3} +\beta_{1}lnp_1+\beta_{2}lnp_2+ \beta_{3}lnp_3 \\
& + \frac{1}{2}\beta_{11}ln^{2}p_1+ \frac{1}{2}\beta_{22}ln^{2}p_{2}+ \frac{1}{2}\beta_{33}ln^{2}p_{3} + \frac{1}{2}\beta_{12}lnp_{1}lnp_{2}+ \frac{1}{2}\beta_{13}lnp_{1}lnp_{3}+\frac{1}{2}\beta_{23}lnp_{2}lnp_{3} 
\end{aligned}
$$


ST: 

<br>
$$
\begin{aligned} 
\beta_{1} + \beta_{2} + \beta_{3} &= 1 \\
\beta_{q1} + \beta_{q2} + \beta_{q3} &= 0 \\
\beta_{11} + \beta_{12} + \beta_{13} &= 0 \\
\beta_{21} + \beta_{22} + \beta_{23} &= 0 \\
\beta_{31} + \beta_{32} + \beta_{33} &= 0 \\
\beta_{ij} = \beta_{ji}
\end{aligned}
$$


1. Get $\widehat{\boldsymbol{\beta}}^{(RLS)}$ vector from the equation bellow. Use the `q`, `p1`, `p2`, `p3`, `CT` numpies. <br><br>
2. Get the `covariance matrix` $\mathbb{V}{\rm ar} \left(\widehat{\boldsymbol{\beta}}^{(RLS)} \right)$. <br><br>
**Hint: For more information about Restricted Least Squares [click here](http://web.vu.lt/mif/a.buteikis/wp-content/uploads/PE_Book/4-4-Multiple-RLS.html).**<br>

In [47]:
# 1. Get ùú∑ÀÜ(ùëÖùêøùëÜ) vector from the equation bellow. Use the q, p1, p2, p3, CT numpies.

# First we import the relevant libraries:

import numpy as np
from math import log
import pandas as pd

In [48]:
# Now we import the dataset considering the proposed name "greene"
greene = pd.read_csv(r"/Users/joselinchavez/Documents/GitHub/Diplomado_PUCP/Lecture_3/christensen_greene_f4.csv")

#In this case we use the path to the folder where the database 
#is stored because it couldn't be taken directly.

In [49]:
#We can check the database
greene.describe()

,id,YEAR,COST,Q,PL,SL,PK,SK,PF,SF
count,158.000000,158.0,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,127.208861,1970.0,53.269962,10469.410759,8001.863228,0.138972,71.421063,0.226387,30.745785,0.632355
std,60.792333,0.0,87.059326,15187.520802,1398.837478,0.054735,11.977489,0.060836,7.943089,0.083324
min,1.000000,1970.0,0.130400,4.000000,5063.490000,0.045900,31.725000,0.092400,9.000000,0.243500
25%,78.500000,1970.0,10.221050,1971.000000,6975.177500,0.099725,67.605000,0.192550,24.477350,0.590100
50%,138.500000,1970.0,25.545400,5645.500000,7890.185000,0.123100,74.120000,0.218600,30.657900,0.645000
75%,178.750000,1970.0,55.315900,12365.750000,8855.230000,0.169800,78.794250,0.252775,36.000000,0.686900
max,218.000000,1970.0,737.408800,115500.000000,13044.000000,0.329100,92.650000,0.457100,51.463000,0.813600

In [50]:
# We use the provided renaming:
ct = greene.COST.values
q = greene.Q.values
p1 = greene.PL.values
p2 = greene.PF.values
p3 = greene.PK.values

In [51]:
# We also took logs of the relevant variables (14 variables 
# without the intercept, independents) and we can give it the same form as 
#requested by proposed equation 

ln_q = np.log(q)
ln2_q = 0.5*np.square(ln_q) # in this case we need the additional 
# square to logarithm

ln_p1 = np.log(p1)
ln_p2 = np.log(p2)
ln_p3 = np.log(p3)

ln_qp1 = np.multiply(ln_q, ln_p1) # in this case we need to multiply
# adittional to logarithm
ln_qp2 = np.multiply(ln_q, ln_p2)
ln_qp3 = np.multiply(ln_q, ln_p3)

ln2_p1 = 0.5*np.square(ln_p1)
ln2_p2 = 0.5*np.square(ln_p2)
ln2_p3 = 0.5*np.square(ln_p3)

ln_p1p2 = np.multiply(ln_p1, ln_p2)
ln_p1p3 = np.multiply(ln_p1, ln_p3)
ln_p2p3 = np.multiply(ln_p2, ln_p3)

In [56]:
# Now we create the intercept with the function ones:
intercept = np.ones((len(q), 1))
#intercept

# Likewise, we take logarithm of the dependent variable:
ln_ct = np.log(ct)
#ln_ct

In [65]:
# We must also create the big X matrix, it must contain the 14 
# variables and the intercept, so we use the function stack for columns

X_big = np.column_stack([intercept, ln_q, ln2_q, ln_qp1, ln_qp2, 
                         ln_qp3, ln_p1, ln_p2, ln_p3, ln2_p1, ln2_p2,
                         ln2_p3, ln_p1p2, ln_p1p3, ln_p2p3])

X_big

array([[ 1.        ,  2.07944154,  2.16203856, ..., 25.53597848,
        36.87257416, 12.06308434],
       [ 1.        ,  6.76734313, 22.89846649, ..., 27.52922179,
        38.14391527, 12.86998372],
       [ 1.        ,  7.25276242, 26.30128135, ..., 33.47177703,
        33.28867699, 13.81021534],
       ...,
       [ 1.        ,  5.96870756, 17.81273497, ..., 32.93311772,
        37.80502354, 16.56284231],
       [ 1.        ,  8.57866451, 36.79674242, ..., 34.23242826,
        39.94379007, 16.26769248],
       [ 1.        ,  9.63036563, 46.3719711 , ..., 28.72378963,
        38.10118094, 13.96783596]])

In [81]:
# To estimate the ùú∑ÀÜ(ùëÖùêøùëÜ) we should introduce the restrictions in a matrix called L 
# (similar to the hint). Actually, we can verify that some betas doesn't exist for the
# third, fourth, and fifth restrictions, so the last constraint is implicitly introduced on these 

L = np.array( ( [ 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0 ],
                [ 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0 ], 
                [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0 ], 
                [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1 ], 
                [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1 ] ) )

rr = [ 1, 0, 0, 0, 0 ]

print(L)
print(rr)

[[0 0 0 0 0 0 1 1 1 0 0 0 0 0 0]
 [0 0 0 1 1 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 1 0 0 1 1 0]
 [0 0 0 0 0 0 0 0 0 0 1 0 1 0 1]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 1 1]]
[1, 0, 0, 0, 0]

In [73]:
# We implementing the total database:
data_smpl = pd.DataFrame(np.column_stack([ln_ct, X_big]), columns = ["ln_ct","intercept", "ln_q", "ln2_q", 
                                                                     "ln_qp1", "ln_qp2", "ln_qp3", "ln_p1", 
                                                                     "ln_p2", "ln_p3", "ln2_p1", "ln2_p2",
                                                                     "ln2_p3", "ln_p1p2", "ln_p1p3", "ln_p2p3"])
#data_smpl

In [78]:
# Now we calculate the usual BETA_ols
XTX_inv  = np.linalg.inv(np.dot(np.transpose(X_big), X_big))
BETAS_ols = np.dot(XTX_inv, np.dot(np.transpose(X_big), ln_ct))

#Nevertheless, we need to calculate the RLS estimator expressed as Œ≤_RLS = Œ≤_OLS + "Restriction Adjustment"
RA_1 = np.dot(XTX_inv, np.transpose(L))
RA_2 = np.linalg.inv(np.linalg.multi_dot([L, XTX_inv, np.transpose(L)]))
RA_3 = np.dot(L, BETAS_ols) - np.array(rr)
RA   = RA_1.dot(RA_2).dot(RA_3)

# With this adjustment component, we can finally calculate the RLS estimator:
BETAS_rls = BETAS_ols - RA
print(pd.DataFrame(BETAS_rls, index = ["intercept", "ln_q", "ln2_q", "ln_qp1", "ln_qp2", "ln_qp3", "ln_p1", 
                                "ln_p2", "ln_p3", "ln2_p1", "ln2_p2", "ln2_p3", "ln_p1p2", "ln_p1p3", "ln_p2p3"]))

                  0
intercept -7.111200
ln_q       0.461368
ln2_q      0.059955
ln_qp1    -0.004354
ln_qp2     0.036778
ln_qp3    -0.032424
ln_p1      0.215566
ln_p2      0.402923
ln_p3      0.381511
ln2_p1    -0.004356
ln2_p2     0.002578
ln2_p3    -0.007651
ln_p1p2   -0.002936
ln_p1p3    0.007292
ln_p2p3    0.000358

In [80]:
# 2. Get the covariance matrix ùïçar(ùú∑ÀÜ(ùëÖùêøùëÜ))

# To calculate the covariance matrix we create the estimation residuals, 
# then we find the covvar matrix called "VarCov_rls":
ln_ct_fit = np.dot(X_big, BETAS_rls)
e_resid = np.array(ln_ct) - ln_ct_fit

sigma2_rls = np.sum(e_resid**2) / (len(data_smpl.index) - (len(BETAS_rls) - len(rr)))

D_mat = np.identity(len(BETAS_rls)) - RA_1.dot(RA_2).dot(L)
VarCov_rls = sigma2_rls * D_mat.dot(XTX_inv)

print(pd.DataFrame(VarCov_rls, 
                   index = ["intercept", "ln_q", "ln2_q", "ln_qp1", "ln_qp2", "ln_qp3", "ln_p1", 
                                "ln_p2", "ln_p3", "ln2_p1", "ln2_p2", "ln2_p3", "ln_p1p2", "ln_p1p3", "ln_p2p3"], 
                   columns = ["intercept", "ln_q", "ln2_q", "ln_qp1", "ln_qp2", "ln_qp3", "ln_p1", 
                                "ln_p2", "ln_p3", "ln2_p1", "ln2_p2", "ln2_p3", "ln_p1p2", "ln_p1p3", "ln_p2p3"]))

           intercept      ln_q     ln2_q    ln_qp1    ln_qp2    ln_qp3  \
intercept   8.485895 -0.096160  0.000206  0.015677 -0.022104  0.006427
ln_q       -0.096160  0.016015 -0.000070 -0.002912  0.002270  0.000642
ln2_q       0.000206 -0.000070  0.000020 -0.000016 -0.000002  0.000019
ln_qp1      0.015677 -0.002912 -0.000016  0.000585 -0.000363 -0.000222
ln_qp2     -0.022104  0.002270 -0.000002 -0.000363  0.000654 -0.000291
ln_qp3      0.006427  0.000642  0.000019 -0.000222 -0.000291  0.000513
ln_p1      -3.050502  0.012193 -0.000038 -0.001377  0.005099 -0.003722
ln_p2       1.613544 -0.014739  0.000150  0.001701 -0.006121  0.004419
ln_p3       1.436958  0.002546 -0.000112 -0.000324  0.001022 -0.000697
ln2_p1      0.198259  0.000797  0.000012 -0.000240 -0.000166  0.000406
ln2_p2     -0.045968 -0.001459  0.000031  0.000281  0.000029 -0.000310
ln2_p3     -0.411072 -0.000658 -0.000048  0.000287  0.000230 -0.000517
ln_p1p2    -0.281682  0.000002 -0.000046  0.000123  0.000184 -0.000307
ln_p1p3     0.083423 -0.000799  0.000033  0.000117 -0.000018 -0.000099
ln_p2p3     0.327650  0.001457  0.000015 -0.000404 -0.000213  0.000617

              ln_p1     ln_p2     ln_p3    ln2_p1    ln2_p2    ln2_p3  \
intercept -3.050502  1.613544  1.436958  0.198259 -0.045968 -0.411072
ln_q       0.012193 -0.014739  0.002546  0.000797 -0.001459 -0.000658
ln2_q     -0.000038  0.000150 -0.000112  0.000012  0.000031 -0.000048
ln_qp1    -0.001377  0.001701 -0.000324 -0.000240  0.000281  0.000287
ln_qp2     0.005099 -0.006121  0.001022 -0.000166  0.000029  0.000230
ln_qp3    -0.003722  0.004419 -0.000697  0.000406 -0.000310 -0.000517
ln_p1      1.151568 -0.589638 -0.561930 -0.078231  0.022798  0.154840
ln_p2     -0.589638  0.343127  0.246511  0.039021 -0.001273 -0.085612
ln_p3     -0.561930  0.246511  0.315419  0.039210 -0.021524 -0.069228
ln2_p1    -0.078231  0.039021  0.039210  0.005550 -0.002064 -0.010488
ln2_p2     0.022798 -0.001273 -0.021524 -0.002064  0.007181 -0.001587
ln2_p3     0.154840 -0.085612 -0.069228 -0.010488 -0.001587  0.025193
ln_p1p2    0.105136 -0.061679 -0.043457 -0.006987 -0.003352  0.018634
ln_p1p3   -0.026906  0.022659  0.004247  0.001437  0.005416 -0.008146
ln_p2p3   -0.127934  0.062953  0.064981  0.009051 -0.003828 -0.017047

            ln_p1p2   ln_p1p3   ln_p2p3
intercept -0.281682  0.083423  0.327650
ln_q       0.000002 -0.000799  0.001457
ln2_q     -0.000046  0.000033  0.000015
ln_qp1     0.000123  0.000117 -0.000404
ln_qp2     0.000184 -0.000018 -0.000213
ln_qp3    -0.000307 -0.000099  0.000617
ln_p1      0.105136 -0.026906 -0.127934
ln_p2     -0.061679  0.022659  0.062953
ln_p3     -0.043457  0.004247  0.064981
ln2_p1    -0.006987  0.001437  0.009051
ln2_p2    -0.003352  0.005416 -0.003828
ln2_p3     0.018634 -0.008146 -0.017047
ln_p1p2    0.014487 -0.007500 -0.011135
ln_p1p3   -0.007500  0.006063  0.002084
ln_p2p3   -0.011135  0.002084  0.014963

## 1.4 Pandas

Run the code bellow uncomment the second line to install savReaderWriter library. The `dict_varlabels` has the labels of the columns of rec1.

1. Check if CASEID identifies each observation uniquely. **[Hint: Use is_unique method.](https://pandas.pydata.org/docs/reference/api/pandas.Series.is_unique.html)**
2. Make the CASEID column the index of your data set. **[Hint: Use set_index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html)**. 
3. Keep women who are 15-30 years old and live in Urban areas. **[Hint: Use query](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html)**.
4. Generate a new column with the month of born. Just use the first three letters.  Use the English names of the months.

### Pandas

1. Ejecute el c√≥digo a continuaci√≥n, descomente la segunda l√≠nea para instalar la biblioteca savReaderWriter. El dict_varlabels tiene las etiquetas de las columnas de rec1.

2. Compruebe si CASEID identifica cada observaci√≥n de forma √∫nica. Sugerencia: utilice el m√©todo is_unique.

3. Haga que la columna CASEID sea el √≠ndice de su conjunto de datos. Sugerencia: use set_index.

4. Mantenga a las mujeres que tengan entre 15 y 30 a√±os y vivan en √°reas urbanas. Sugerencia: use la consulta.

5. Genera una nueva columna con el mes de nacimiento. Solo usa las tres primeras letras. Usa los nombres en ingl√©s de los meses.

In [ ]:
# Instalaci√≥n preliminar

import pandas as pd
import numpy  as np
!pip install pyreadstat
import savReaderWriter as sav
rec1 = pd.read_spss( fr"C:/Users/USER/Documents/GitHub/Diplomado_PUCP/_data/endes/2019/REC0111.sav" )

with sav.SavHeaderReader( fr"C:/Users/USER/Documents/GitHub/Diplomado_PUCP/_data/endes/2019/REC0111.sav", ioUtf8=True) as header:
    metadata = header.all()

dict_varlabels = metadata[3]

In [55]:
dict_varlabels

{'ID1': 'A√±o',
 'HHID': 'Identificaci√≥n Cuestionario del Hogar',
 'CASEID': 'Identificaci√≥n Cuestionario Individual',
 'V001': 'Conglomerado',
 'V002': 'N√∫mero de vivienda',
 'V003': 'N√∫mero de l√≠nea de entrevistada',
 'V004': 'Unidad de √°rea final',
 'V007': 'A√±o de la entrevista',
 'V008': 'Fecha de la entrevista, Codificaci√≥n centenaria de meses (CMC)',
 'V009': 'Mes de nacimiento de la entrevistada',
 'V010': 'A√±o de nacimiento de la entrevistada',
 'V011': 'Fecha de nacimiento, Codificaci√≥n centenaria de meses (CMC)',
 'V012': 'Edad actual - entrevistada',
 'V013': 'Edad actual por grupos de 5 a√±os',
 'V014': 'Integridad de la informaci√≥n para la fecha de nacimiento ',
 'V015': 'Resultado entrevista individual',
 'V017': 'Inicio del calendario, Codificaci√≥n centenaria de mesesl CMC',
 'V018': 'Columna del mes de la entrevista',
 'V019': 'Duraci√≥n del calendario',
 'V019A': 'N√∫mero de columnas de calendario',
 'V020': 'Muestra alguna vez casada',
 'V021': 'Unidad de muestreo primario - conglomerado',
 'V023': 'Dominio de ejemplo - Departamento',
 'V024': 'Regi√≥n',
 'V025': 'Tipo de lugar de residencia',
 'V026': 'El lugar de residencia en el que se entrevist√≥ - De Facto',
 'V027': 'N√∫mero de visitas',
 'V028': 'Identificaci√≥n del entrevistador',
 'V029': 'Identificador del digitador',
 'V030': 'Supervisor de campo',
 'V031': 'Editor de campo',
 'V032': 'Editor de la oficina',
 'V033': 'Selecci√≥n final del √°rea de probabilidad',
 'V034': 'N√∫mero de orden del esposo',
 'V040': 'Altitud del conglomerado en metros',
 'V042': 'Selecci√≥n de hogar para hemoglobina',
 'V043': 'Selecci√≥n para m√≥dulo de estatus de mujeres',
 'V044': 'Selecci√≥n para m√≥dulo de violencia domestica',
 'V000': 'C√≥digo y fase del pa√≠s',
 'Q105DD': 'Dia de nacimeinto de la entrevistada',
 'V101': 'Regi√≥n',
 'V102': 'Tipo de lugar de residencia',
 'V103': 'Lugar de residencia de la infancia',
 'V104': 'Cuanto tiempo tiene viviendo continuamente en el lugar de residencia actual',
 'V105': 'Tipo de lugar de residencia anteriormente',
 'V106': 'Nivel educativo m√°s alto',
 'V107': 'A√±o/grado de educaci√≥n m√°s alto aprobado',
 'V113': 'Fuente principal de abasteciemiento de agua potable que utilizan en su hogar para tomar o beber',
 'V115': 'Tiempo para llegar a la fuente de agua',
 'V116': 'Tipo de instalaci√≥n sanitaria',
 'V119': 'En su hogar tiene: electricidad',
 'V120': 'En su hogar tiene: radio',
 'V121': 'En su hogar tiene: televisi√≥n',
 'V122': 'En su hogar tiene: refrigerador',
 'V123': 'En su hogar tiene: bicicleta',
 'V124': 'En su hogar tiene: motocicleta/motocar',
 'V125': 'En su hogar tiene: coche/cami√≥n',
 'V127': 'Material predominante del piso de la vivienda',
 'V128': 'Material predominante de las paredes exteriores de la vivienda',
 'V129': 'Material predominante del techo de la vivienda',
 'V130': 'Religi√≥n',
 'V131': 'Etnicidad',
 'V133': 'Educaci√≥n en a√±os simples',
 'V134': 'El lugar en el que se realiz√≥ la entrevista  De-facto',
 'V135': 'Residente habitual o visitante',
 'V136': 'N√∫mero de miembros del hogar',
 'V137': 'N√∫mero de ni√±os de 6 a√±os de edad ',
 'V138': 'N√∫mero de mujeres de 15 a 49 a√±os de edad elegibles en el hogar ',
 'V139': 'Regi√≥n, residencia habitual De-jure',
 'V140': 'Tipo de √°rea de residencia De-jure',
 'V141': 'Lugar de residencia De-jure',
 'V149': 'Logro educativo',
 'V150': 'Relaci√≥n con el jefe del hogar',
 'V151': 'Sexo del Jefe del Hogar',
 'V152': 'Edad del jefe del hogar',
 'V153': 'En su hogar tiene: tel√©fono',
 'AWFACTT': 'Factor todas las mujeres - total',
 'AWFACTU': 'Factor todas las mujeres - urbano/rural',
 'AWFACTR': 'Factor todas las mujeres - regional',
 'AWFACTE': 'Factor todas las mujeres - educaci√≥n',
 'AWFACTW': 'Factor todas las mujeres - √≠ndice de riqueza',
 'V155': 'Alfabetizaci√≥n',
 'V156': 'Alguna vez particip√≥ en un programa de alfabetizaci√≥n (no incluyendo la escuela primaria)',
 'V157': 'Frecuencia de lectura de un peri√≥dico o revista',
 'V158': 'Frecuencia de escuchar radio',
 'V159': 'Frecuencia de ver televisi√≥n',
 'V160': 'Ba√±o compartido con otros hogares',
 'V161': 'Tipo de combustible para cocinar',
 'V166': 'Resultados de la prueba del yodo en la sal',
 'V167': 'N√∫mero de viajes en los √∫ltimos 12 meses',
 'V168': 'Afuera m√°s de un mes en los √∫ltimos 12 meses',
 'ML101': 'Tipo de mosquitero que utilizo para dormir √∫ltima noche',
 'QD333_1': 'Alguna dificultad o limitaci√≥n permanente para ver, a√∫n usando anteojos',
 'QD333_2': 'Alguna dificultad o limitaci√≥n permanente para oir, a√∫n usando aud√≠fonos',
 'QD333_3': 'Alguna dificultad o limitaci√≥n permanente para hablar o comunicarse, a√∫n usando la lengua de se√±as u otro',
 'QD333_4': 'Alguna dificultad o limitaci√≥n permanente para moverse o caminar para usar brazos y/o piernas',
 'QD333_5': 'Alguna dificultad o limitaci√≥n permanente para entender o aprender (concentrarse y recordarse)',
 'QD333_6': 'Alguna dificultad o limitaci√≥n permanente para relacionarse con los dem√°s, por sus pensamientos, sentimientos, emociones o conductas',
 'UBIGEO': 'C√≥digo de Ubicaci√≥n Gegr√°fica',
 'V022': 'Estratos',
 'V005': 'Factor de ponderacion',
 'V190': '√çndice de riqueza',
 'V191': 'Factor de puntuaci√≥n del √≠ndice de riqueza (5 decimales)',
 'mujeres12a49': 'Mujeres de 12 a 49 a√±os de edad',
 'NCONGLOME': 'N√∫mero de Conglomerado (proveniente del marco)'}

In [16]:
pd.DataFrame(rec1)
dfx= pd.DataFrame(rec1)
dfx

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,Mujeres de 15 a 49 a√±os de edad,7065.0
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,"Mujeres de 12 a 14 de edad, nunca embarazadas",7065.0
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 a√±os de edad,7065.0
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 a√±os de edad,7065.0
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,No,No,No,010101,3.0,154803.0,Pobrer,-0.256431,Mujeres de 15 a 49 a√±os de edad,7065.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,2019.0,325406201,325406201 2,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,...,No,No,No,250401,249.0,244995.0,El m√°s pobre,-1.750187,Mujeres de 15 a 49 a√±os de edad,15783.0
38331,2019.0,325406301,325406301 2,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,...,No,No,No,250401,249.0,244995.0,El m√°s pobre,-1.676861,Mujeres de 15 a 49 a√±os de edad,15783.0
38332,2019.0,325407001,325407001 2,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,...,No,No,No,250401,249.0,459792.0,El m√°s pobre,-1.585333,Mujeres de 15 a 49 a√±os de edad,15783.0
38333,2019.0,325407201,325407201 2,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,...,No,No,No,250401,249.0,459792.0,El m√°s pobre,-1.650159,Mujeres de 15 a 49 a√±os de edad,15783.0
38334,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,No,No,No,250401,249.0,244995.0,El m√°s pobre,-1.644720,Mujeres de 15 a 49 a√±os de edad,15783.0

In [ ]:
# 1. Check if CASEID identifies each observation uniquely. Hint: Use is_unique method.
 # Compruebe si CASEID identifica cada observaci√≥n de forma √∫nica. Sugerencia: utilice el m√©todo is_unique

In [17]:
# Comprobamos la cantidad de filas que tiene el DataFrame
dfx.shape[0]

38335

In [18]:
np.array(dfx['CASEID'])

array(['      000100201  2', '      000100201  3', '      000102801  2',
       ..., '      325407001  2', '      325407201  2',
       '      325407401  2'], dtype=object)

In [19]:
#Utilizamos el m√©todo is_unique, pero previamente convertimos
array= np.array(dfx['CASEID'])
array
series = pd.Series(array)
series
series.is_unique

True

In [20]:
len(dfx['CASEID'].unique().tolist())

38335

In [ ]:
#3. Make the CASEID column the index of your data set. Hint: Use set_index.
 # Haga que la columna CASEID sea el √≠ndice de su conjunto de datos. Sugerencia: use set_index.

In [21]:
dfx.set_index("CASEID")

,ID1,HHID,V001,V002,V003,V004,V007,V008,V009,V010,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
CASEID,,,,,,,,,,,,,,,,,,,,,
000100201 2,2019.0,000100201,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,Mujeres de 15 a 49 a√±os de edad,7065.0
000100201 3,2019.0,000100201,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,"Mujeres de 12 a 14 de edad, nunca embarazadas",7065.0
000102801 2,2019.0,000102801,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 a√±os de edad,7065.0
000102801 6,2019.0,000102801,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 a√±os de edad,7065.0
000104801 2,2019.0,000104801,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,No,No,No,010101,3.0,154803.0,Pobrer,-0.256431,Mujeres de 15 a 49 a√±os de edad,7065.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325406201 2,2019.0,325406201,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,No,No,No,250401,249.0,244995.0,El m√°s pobre,-1.750187,Mujeres de 15 a 49 a√±os de edad,15783.0
325406301 2,2019.0,325406301,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,No,No,No,250401,249.0,244995.0,El m√°s pobre,-1.676861,Mujeres de 15 a 49 a√±os de edad,15783.0
325407001 2,2019.0,325407001,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,No,No,No,250401,249.0,459792.0,El m√°s pobre,-1.585333,Mujeres de 15 a 49 a√±os de edad,15783.0
325407201 2,2019.0,325407201,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,No,No,No,250401,249.0,459792.0,El m√°s pobre,-1.650159,Mujeres de 15 a 49 a√±os de edad,15783.0
325407401 2,2019.0,325407401,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,No,No,No,250401,249.0,244995.0,El m√°s pobre,-1.644720,Mujeres de 15 a 49 a√±os de edad,15783.0

In [ ]:
# 3. Keep women who are 15-30 years old and live in Urban areas. Hint: Use query.
# 3.Mantenga a las mujeres que tengan entre 15 y 30 a√±os y vivan en √°reas urbanas. Sugerencia: use la consulta.

In [267]:
# Con la informaci√≥n preliminar de dict_varlabels, seleccionamos los campos necesarios y cambiamos de nombre.
# V023': 'Dominio de ejemplo - Departamento',
# V024': 'Regi√≥n',
# V025': 'Tipo de lugar de residencia',
# V012': 'Edad actual - entrevistada',
# V013': 'Edad actual por grupos de 5 a√±os',
# V102': 'Tipo de lugar de residencia',


dfx1=dfx[["V012","V013","V023","V024","V025","mujeres12a49"]]
dfx1.rename({"V012":"Edad actual","V013":"Edad actual por grupos de 5 a√±os",
             "V023":"Departamento","V024":"Regi√≥n","V025":"Tipo Residencia","mujeres12a49":"Mujeres"},axis="columns")

,Edad actual,Edad actual por grupos de 5 a√±os,Departamento,Regi√≥n,Tipo Residencia,Mujeres
0,33.0,De 30 a 34 a√±os de edad,Amazonas,Amazonas,Urbano,Mujeres de 15 a 49 a√±os de edad
1,12.0,De 12 a 14 a√±os de edad,Amazonas,Amazonas,Urbano,"Mujeres de 12 a 14 de edad, nunca embarazadas"
2,36.0,De 35 a 39 a√±os de edad,Amazonas,Amazonas,Urbano,Mujeres de 15 a 49 a√±os de edad
3,49.0,De 45 a 49 a√±os de edad,Amazonas,Amazonas,Urbano,Mujeres de 15 a 49 a√±os de edad
4,28.0,De 25 a 29 a√±os de edad,Amazonas,Amazonas,Urbano,Mujeres de 15 a 49 a√±os de edad
...,...,...,...,...,...,...
38330,48.0,De 45 a 49 a√±os de edad,Ucayali,Ucayali,Rural,Mujeres de 15 a 49 a√±os de edad
38331,31.0,De 30 a 34 a√±os de edad,Ucayali,Ucayali,Rural,Mujeres de 15 a 49 a√±os de edad
38332,46.0,De 45 a 49 a√±os de edad,Ucayali,Ucayali,Rural,Mujeres de 15 a 49 a√±os de edad
38333,25.0,De 25 a 29 a√±os de edad,Ucayali,Ucayali,Rural,Mujeres de 15 a 49 a√±os de edad
38334,23.0,De 20 a 24 a√±os de edad,Ucayali,Ucayali,Rural,Mujeres de 15 a 49 a√±os de edad

In [277]:
# Con la informaci√≥n seleccionada, procedemos a hacer las funciones condicionales. 
 #Luego creamos una tabla con los campos requeridos del caso. 

Lugar_r= dfx[(dfx["V012"]>=15) & (dfx["V012"]<=30) & (dfx["V025"]=="Urbano")]
Lugar_r[["V023","V024","V025","V012","V013"]]

           V023      V024    V025  V012                     V013
4      Amazonas  Amazonas  Urbano  28.0  De 25 a 29 a√±os de edad
5      Amazonas  Amazonas  Urbano  30.0  De 30 a 34 a√±os de edad
8      Amazonas  Amazonas  Urbano  18.0  De 15 a 19 a√±os de edad
9      Amazonas  Amazonas  Urbano  23.0  De 20 a 24 a√±os de edad
12     Amazonas  Amazonas  Urbano  28.0  De 25 a 29 a√±os de edad
...         ...       ...     ...   ...                      ...
38162   Ucayali   Ucayali  Urbano  29.0  De 25 a 29 a√±os de edad
38163   Ucayali   Ucayali  Urbano  20.0  De 20 a 24 a√±os de edad
38164   Ucayali   Ucayali  Urbano  27.0  De 25 a 29 a√±os de edad
38165   Ucayali   Ucayali  Urbano  26.0  De 25 a 29 a√±os de edad
38170   Ucayali   Ucayali  Urbano  16.0  De 15 a 19 a√±os de edad

[12236 rows x 5 columns]

In [ ]:
# Pregunta 3: Se encuentran 12,236 mujeres entre 15 y 30 a√±os que viven en √°reas urbanas

In [292]:
# Para validar esta informaci√≥n, contamos la cantidad de filas que tiene la cabecera "V013": Edad actual por grupos de 5 a√±os"
  # sin haber realizado las funciones condicionales
    
dfx[["V013","V012"]].value_counts()

V013                     V012
De 25 a 29 a√±os de edad  26.0    1239
De 12 a 14 a√±os de edad  12.0    1228
                         14.0    1203
                         13.0    1202
De 25 a 29 a√±os de edad  27.0    1200
De 30 a 34 a√±os de edad  30.0    1183
                         31.0    1177
                         32.0    1175
                         34.0    1174
De 25 a 29 a√±os de edad  25.0    1154
De 20 a 24 a√±os de edad  24.0    1152
De 25 a 29 a√±os de edad  28.0    1145
De 20 a 24 a√±os de edad  23.0    1142
De 30 a 34 a√±os de edad  33.0    1099
De 25 a 29 a√±os de edad  29.0    1098
De 20 a 24 a√±os de edad  22.0    1093
De 15 a 19 a√±os de edad  15.0    1074
De 35 a 39 a√±os de edad  36.0    1032
                         35.0    1029
                         37.0    1021
De 20 a 24 a√±os de edad  20.0     999
De 15 a 19 a√±os de edad  16.0     990
De 20 a 24 a√±os de edad  21.0     964
De 35 a 39 a√±os de edad  38.0     944
                         39.0     925
De 15 a 19 a√±os de edad  19.0     922
De 40 a 44 a√±os de edad  40.0     889
De 15 a 19 a√±os de edad  17.0     843
                         18.0     839
De 40 a 44 a√±os de edad  42.0     813
                         41.0     780
                         43.0     732
                         44.0     678
De 45 a 49 a√±os de edad  45.0     601
                         46.0     572
                         47.0     567
                         48.0     548
                         49.0     496
dtype: int64

In [291]:
# Luego realizamos el mismo proceso para contar las filas filtradas y nos damos cuenta que la suma
 # corresponde a 12,236
    
Lugar_r[["V013","V012"]].value_counts()

V013                     V012
De 25 a 29 a√±os de edad  26.0    936
De 30 a 34 a√±os de edad  30.0    909
De 25 a 29 a√±os de edad  27.0    886
                         25.0    844
                         28.0    844
De 20 a 24 a√±os de edad  24.0    841
                         23.0    833
De 25 a 29 a√±os de edad  29.0    796
De 20 a 24 a√±os de edad  22.0    779
De 15 a 19 a√±os de edad  15.0    721
De 20 a 24 a√±os de edad  20.0    712
                         21.0    699
De 15 a 19 a√±os de edad  19.0    638
                         16.0    624
                         18.0    595
                         17.0    579
dtype: int64

In [ ]:
# 4. Generate a new column with the month of born. Just use the first three letters. Use the English names of the months.
# 4 Genera una nueva columna con el mes de nacimiento. Solo usa las tres primeras letras. Usa los nombres en ingl√©s de los meses.

In [ ]:
# Para poder realizar esta pregunta, se requiere los datos de la cabecera "V009": Mes de nacimiento de la entrevistada
 # y conocer el tipo de valor que tiene. Este caso Float

In [295]:
dfx.info("V009")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38335 entries, 0 to 38334
Data columns (total 108 columns):
 #    Column        Dtype
---   ------        -----
 0    ID1           float64
 1    HHID          object
 2    CASEID        object
 3    V001          float64
 4    V002          float64
 5    V003          float64
 6    V004          float64
 7    V007          float64
 8    V008          float64
 9    V009          float64
 10   V010          float64
 11   V011          float64
 12   V012          float64
 13   V013          category
 14   V014          category
 15   V015          category
 16   V017          float64
 17   V018          category
 18   V019          category
 19   V019A         float64
 20   V020          category
 21   V021          float64
 22   V023          category
 23   V024          category
 24   V025          category
 25   V026          category
 26   V027          float64
 27   V028          float64
 28   V029          float64
 29   V030          float64
 30   V031          float64
 31   V032          float64
 32   V033          float64
 33   V034          category
 34   V040          float64
 35   V042          category
 36   V043          category
 37   V044          category
 38   V000          object
 39   Q105DD        category
 40   V101          category
 41   V102          category
 42   V103          category
 43   V104          category
 44   V105          category
 45   V106          category
 46   V107          float64
 47   V113          category
 48   V115          category
 49   V116          category
 50   V119          category
 51   V120          category
 52   V121          category
 53   V122          category
 54   V123          category
 55   V124          category
 56   V125          category
 57   V127          category
 58   V128          category
 59   V129          category
 60   V130          category
 61   V131          category
 62   V133          category
 63   V134          category
 64   V135          category
 65   V136          float64
 66   V137          float64
 67   V138          float64
 68   V139          category
 69   V140          category
 70   V141          category
 71   V149          category
 72   V150          category
 73   V151          category
 74   V152          category
 75   V153          category
 76   AWFACTT       float64
 77   AWFACTU       float64
 78   AWFACTR       float64
 79   AWFACTE       float64
 80   AWFACTW       float64
 81   V155          category
 82   V156          category
 83   V157          category
 84   V158          category
 85   V159          category
 86   V160          category
 87   V161          category
 88   V166          category
 89   V167          category
 90   V168          category
 91   ML101         category
 92   QD333_1       category
 93   QD333_2       category
 94   QD333_3       category
 95   QD333_4       category
 96   QD333_5       category
 97   QD333_6       category
 98   UBIGEO        object
 99   V022          float64
 100  V005          float64
 101  V190          category
 102  V191          float64
 103  mujeres12a49  category
 104  NCONGLOME     float64
 105  nombremes     object
 106  nombre_mes    object
 107  month_name    object
dtypes: category(66), float64(35), object(7)
memory usage: 14.7+ MB

In [195]:
# Verificamos si existen los 12 meses del a√±o

dfx["V009"].unique().tolist()

[4.0, 1.0, 6.0, 3.0, 5.0, 11.0, nan, 9.0, 8.0, 12.0, 10.0, 7.0, 2.0]

In [296]:
# Se realiza la creaci√≥n de una nueva columna, remplazando los valos a trav√©s de la funci√≥n Replace

dfx["nombre_mes"] = dfx["V009"].replace({
    1: 'Jan',
    2: 'Feb',
    3: 'Mar',
    4: 'Apr',
    5: 'May',
    6: 'Jun',
    7: 'Jul',
    8: 'Aug',
    9: 'Sep',
    10: 'Oct',
    11: 'Nov',
    12: 'Dec'
})
dfx

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME,nombremes,nombre_mes,month_name
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,010101,3.0,154803.0,Rico,1.234450,Mujeres de 15 a 49 a√±os de edad,7065.0,,Apr,Apr
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,010101,3.0,154803.0,Rico,1.234450,"Mujeres de 12 a 14 de edad, nunca embarazadas",7065.0,,Jan,Jan
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 a√±os de edad,7065.0,,Jun,Jun
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 a√±os de edad,7065.0,,Mar,Mar
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,010101,3.0,154803.0,Pobrer,-0.256431,Mujeres de 15 a 49 a√±os de edad,7065.0,,May,May
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,2019.0,325406201,325406201 2,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,...,250401,249.0,244995.0,El m√°s pobre,-1.750187,Mujeres de 15 a 49 a√±os de edad,15783.0,,Dec,Dec
38331,2019.0,325406301,325406301 2,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,...,250401,249.0,244995.0,El m√°s pobre,-1.676861,Mujeres de 15 a 49 a√±os de edad,15783.0,,Jun,Jun
38332,2019.0,325407001,325407001 2,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,...,250401,249.0,459792.0,El m√°s pobre,-1.585333,Mujeres de 15 a 49 a√±os de edad,15783.0,,Jul,Jul
38333,2019.0,325407201,325407201 2,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,...,250401,249.0,459792.0,El m√°s pobre,-1.650159,Mujeres de 15 a 49 a√±os de edad,15783.0,,Dec,Dec
38334,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,250401,249.0,244995.0,El m√°s pobre,-1.644720,Mujeres de 15 a 49 a√±os de edad,15783.0,,Oct,Oct

In [298]:
dfx[["V009"nombre_mes"]].value_counts()

V009  nombre_mes
3.0   Mar           3233
9.0   Sep           3233
5.0   May           3208
7.0   Jul           3190
8.0   Aug           3184
12.0  Dec           3082
6.0   Jun           3081
1.0   Jan           3056
11.0  Nov           3001
10.0  Oct           2970
4.0   Apr           2938
2.0   Feb           2746
dtype: int64