# 1 Assignment 3

In [166]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request
import savReaderWriter as sav

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [2]:
pip install pyreadstat

Collecting pyreadstat
  Downloading pyreadstat-1.2.0-cp39-cp39-win_amd64.whl (2.4 MB)
Requirement already satisfied: pandas>=1.2.0 in c:\users\grade\anaconda3\lib\site-packages (from pyreadstat) (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\grade\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\grade\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\grade\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\grade\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyreadstat) (1.16.0)
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install savReaderWriter

Collecting savReaderWriter
  Downloading savReaderWriter-3.4.2.tar.gz (50.9 MB)
Building wheels for collected packages: savReaderWriter
  Building wheel for savReaderWriter (setup.py): started
  Building wheel for savReaderWriter (setup.py): finished with status 'done'
  Created wheel for savReaderWriter: filename=savReaderWriter-3.4.2-py3-none-any.whl size=51142027 sha256=58c37541fbce7bf1377a86ae5dc7ba8346f08c173d87e54058c760fb06c36f6b
  Stored in directory: c:\users\grade\appdata\local\pip\cache\wheels\cb\a1\bf\2b0abba03732dda64bac1510f20b5d34cae4fe071dc0699336
Successfully built savReaderWriter
Installing collected packages: savReaderWriter
Successfully installed savReaderWriter-3.4.2
Note: you may need to restart the kernel to use updated packages.

In [257]:
#We read the SPSS's 
rec_1 = pd.read_spss( fr"../../_data/endes/2019/REC0111.sav" )
rec_2 = pd.read_spss( fr"../../_data/endes/2019/RE223132.sav" )
rec_3 = pd.read_spss( fr"../../_data/endes/2019/RE516171.sav" )

In [258]:
#We get the var anf values labels of the sav 
with sav.SavHeaderReader( fr"../../_data/endes/2019/REC0111.sav", ioUtf8=True) as header:
    metadata = header.all()  #Returns all the metadata as a named tuple (
    var_labels1 = metadata.varLabels 
    value_labels1 = metadata.valueLabels
    
    
with sav.SavHeaderReader( fr"../../_data/endes/2019/RE223132.sav", ioUtf8=True) as header:
    metadata = header.all()
    var_labels2 = metadata.varLabels 
    value_labels2 = metadata.valueLabels

    
with sav.SavHeaderReader( fr"../../_data/endes/2019/RE516171.sav", ioUtf8=True) as header:
    metadata = header.all()
    var_labels3 = metadata.varLabels 
    value_labels3 = metadata.valueLabels

In [263]:
#We check the labels of var 3
var_labels3

{'ID1': 'Año',
 'CASEID': 'Identificación Cuestionario Individual',
 'V501': 'Estado civil actual',
 'V502': 'Actualmente, antes o nunca sacada',
 'V503': 'Usted ha estado casada o conviviendo solo una vez, más de una vez',
 'V504': 'Su esposo/compañer vive en el hogar o vive en otro lugar',
 'V505': 'Número de otras esposas',
 'V506': 'Número de rango de la esposa',
 'V507': 'Mes - Primer matrimonio',
 'V508': 'Año - Primer matrimonio',
 'V509': 'Fecha del primer matrimonio (CMC)',
 'V510': 'Integridad de la información para la fecha de inicio del primer matrimonio o unión',
 'V511': 'Edad al primer matrimonio',
 'V512': 'Años desde el primer matrimonio',
 'V513': 'Duración del matrimonio (agrupado)',
 'V525': 'Edad en la primera relación sexual',
 'V527': 'Tiempo transcurrido desde la última relación sexual',
 'V528': 'Tiempo transcurrido desde la última relación sexual en días',
 'V529': 'Tiempo transcurrido desde la última relación sexual (imputada)',
 'V530': 'Indicador para v529',
 'V531': 'Edad en la primera relación sexual (imp)',
 'V532': 'Indicador para V531',
 'V535': 'Ha estado casada o ha convivido',
 'V536': 'Actividad sexual reciente',
 'V537': 'Meses de abstinencia',
 'V538': 'Cómo terminó el matrimonio o la unión anterior',
 'V539': 'Quién recibió la mayor parte de la propiedad de los esposos',
 'V540': 'Recibió alguno de los bienes u objetos de valor del difunto esposo',
 'V541': 'Piensa esperar hasta casarse para tener su primera relación sexual',
 'V602': 'Le gustaria tener otro hijo o preferiría no tener más',
 'V603': 'Cuánto tiempo le gustaría esperar hasta el nacimiento de otro hijo',
 'V604': 'Cuánto tiempo le gustaría esperar hasta el nacimiento de otro hijo (agrupado)',
 'V605': 'Deseo de tener más hijos',
 'V613': 'Número ideal de niños',
 'V614': 'Número ideal de niños (grp)',
 'V616': 'Tiempo para el futuro nacimiento',
 'V621': 'Piensa que su esposo/compañero desea el mismo número de hijos',
 'V623': 'Exposición',
 'V624': 'NeceSIDAd insatisfecha',
 'V625': 'Exposición (definición 2)',
 'V626': 'NeceSIDAd insatisfecha (definición 2)',
 'V627': 'Número ideal de hijos',
 'V628': 'Número ideal de hijas',
 'V629': 'Número ideal de cualquier sexo',
 'V631': 'Considera si queda embarazada: ',
 'V632': 'Tomo la decisión para el uso de anticonceptivos',
 'V633A': 'Razón para no tener relaciones sexuales: el esposo/compañero tiene una ETS',
 'V633B': 'Razón para no tener relaciones sexuales: el esposo/compañero tiene otras mujeres',
 'V633C': 'Razón para no tener relaciones sexuales: ha tenido recientemente un parto',
 'V633D': 'Razón para no tener relaciones sexuales: cansada, estado de ánimo',
 'V633E': 'Razón para no tener relaciones sexuales: CS',
 'V633F': 'Razón para no tener relaciones sexuales: CS',
 'V633G': 'Razón para no tener relaciones sexuales: CS',
 'V634': 'Su esposo/compañero sabe que está usando anticonceptivos',
 'V701': 'Nivel de educacion del esposo/compañero',
 'V702': 'El año/grado más alto de educación aprobado',
 'V704': 'Ocupación del esposo/compañero',
 'V705': 'Grupos de ocupación del esposo/compañero estandarizados',
 'V714': 'Actualmente se encuentra trabajando',
 'V714A': 'Tiene un trabajo o negocio del cual estuvo ausente ',
 'V715': 'Educación en años individuales del esposo/compañero',
 'V716': 'Ocupación de la entrevistada',
 'V717': 'Grupos de ocupación estandarizados de la encuestada',
 'V719': 'Trabajo para la familia, otros, para sí misma',
 'V721': 'Trabaja en casa o fuera',
 'V729': 'Nivel educativo del esposo/compañero',
 'V730': 'Edad del esposo/compañero',
 'V731': 'Trabajó en los últimos 12 meses',
 'V732': 'Usualmente trabaja  todo el año/por temporada o sólo de vez en cuado',
 'V739': 'Quién decide cómo gastar dinero',
 'V740': 'El terreno donde trabaja es:',
 'V741': 'Tipo de ingresos por trabajo.',
 'V743A': 'Quién tiene la última palabra sobre: cuidado de su salud',
 'V743B': 'Quién tiene la última palabra sobre: compras grandes del hogar',
 'V743C': 'Quién tiene la última palabra sobre: compras para neceSIDAdes diarias del hogar',
 'V743D': 'Quién tiene la última palabra sobre: visitar a familia, amigos o parientes',
 'V743E': 'Quién tiene la última palabra sobre: comida que se debe cocinar cada día',
 'V743F': 'Quien decide como se gasta el dinero que gana su esposo/compañero',
 'V744A': 'Está de acuerdo si golpea a su esposa: si sale sin decirle',
 'V744B': 'Está de acuerdo si golpea a su esposa: si descuida a los niños.',
 'V744C': 'Está de acuerdo si golpea a su esposa: si ella discute con él',
 'V744D': 'Está de acuerdo si golpea a su esposa: si ella se niega a tener relaciones sexuales con él',
 'V744E': 'Está de acuerdo si golpea a su esposa: si ella quema la comida',
 'V746': 'Gana más, menos o igual de lo que gana su esposo/compañero'}

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter. Update the dictionary.**

In [171]:
#Select the columns
filter1 = ["CASEID", "V000", "V001", "V002", "V003", "V004", "V007", "V008", "V009", "V010", "V011", "V012", "V024", "V102", "V120", "V121", "V122", "V123", "V124", "V125", "V127", "V133"]
filter2 = ["CASEID", "V201", "V218", "V301", "V302", "V323", "V323A", "V325A", "V326", "V327", "V337", "V359", "V360", "V361", "V362", "V363", "V364", "V367", "V372", "V372A", "V375A", "V376", "V376A", "V379", "V380"]
filter3 = ["CASEID", "V501", "V502", "V503", "V504", "V505", "V506", "V507", "V508", "V509", "V510", "V511", "V512", "V513", "V525", "V613", "V714", "V715"]

In [172]:
#Create the dataframe with the only columns select. 
rec1_1 = rec_1.loc[:, filter1 ]
rec2_1 = rec_2.loc[:, filter2]
rec3_1 = rec_3.loc[:, filter3]

In [173]:
#Create two dictionary for every value/var in filter(1,2,3)
new_value_labels1 = { val: value_labels1[ val ] for val in filter1 if val in value_labels1.keys() }
new_var_labels1   = { var: var_labels1[ var ] for var in filter1 }

new_value_labels2 = { val: value_labels2[ val ] for val in filter2 if val in value_labels2.keys() }
new_var_labels2   = { var: var_labels2[ var ] for var in filter2 }

new_value_labels3 = { val: value_labels3[ val ] for val in filter3 if val in value_labels3.keys() }
new_var_labels3   = { var: var_labels3[ var ] for var in filter3 }

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

In [176]:
var_labels = {}  #Create a empty dictionary
var_labels.update(new_var_labels1)  #Update the variables labels
var_labels.update(new_var_labels2)
var_labels.update(new_var_labels3)

value_labels = {} #Create a empty dictionary
value_labels.update(new_value_labels1) #Update the value labels
value_labels.update(new_value_labels2)
value_labels.update(new_value_labels3)

In [177]:
# adding labels to variables
endes_2019.attrs[ 'var_labels' ] = var_labels
endes_2019.attrs[ 'value_labels' ] = value_labels

6. Get the min, max, sd, n_obs, n_missing for the following columns **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)**. We want a dataframe with the following columns **Variables, Min, Max, Mean, N_obs, N_missing** and sort by the number of missing rows. **Hint: Use `describe` and `pivot` methods**

In [254]:
#Select the columns
df = endes_2019[["V201","V613", "V715", "V511"]]

#Create a variable with the description of the variables
df1 = df.describe(include = 'all')
#Add the news indexes
df1.loc['n_obs'] = len(df)  
df1.loc['n_missing'] = df.isnull().sum()

In [255]:
#Select the required indexes and change the name of the index to "variables"
df2 = df1.loc[["min", "max", "std", "mean", "n_obs", "n_missing"]].reset_index().rename(columns = {'index':'Variables'})
#Pivot the dataframe and rename the columns. Then, we sort the data according to number of missing values. 
df2 = df2.pivot_table(columns= 'Variables').rename(columns=str.capitalize).sort_values(by= 'N_missing')
df2

Variables   Max       Mean   Min  N_missing    N_obs       Std
V201       13.0   1.781946   0.0     1413.0  38335.0  1.749109
V613        NaN        NaN   NaN     5024.0  38335.0       NaN
V511       48.0  20.463738  10.0    12454.0  38335.0  4.858358
V715        NaN        NaN   NaN    12454.0  38335.0       NaN

In [256]:
#Another way to pivot: Transponse
df3= df1.loc[["min", "max", "std", "mean", "n_obs", "n_missing"]].T.rename(columns=str.capitalize).sort_values(by= 'N_missing')
df3

       Min   Max       Std       Mean    N_obs  N_missing
V201   0.0  13.0  1.749109   1.781946  38335.0     1413.0
V613   NaN   NaN       NaN        NaN  38335.0     5024.0
V715   NaN   NaN       NaN        NaN  38335.0    12454.0
V511  10.0  48.0  4.858358  20.463738  38335.0    12454.0

7. Use `endes_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

8. Reshape `mean_key_vars` from wide to long. We want a dataframe with three columns **dpto, variables, values**. Name this object as `reshape_mean_key_vars`. **Hint: Use melt method**.

9. Replicate your answers for questions 7 and 8, but in one line of code. Make it the most simple as possible. **NO HINT**

10. Merge `reshape_mean_key_vars` with `endes_2019`. Name this object `final_result`. **Hint: Use merge.**