# 1 Assignment 3

In [5]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [61]:
# Way 1
# Import spss files from the relative path, and name each one
# rec_1 = pd.read_spss( "../../_data/endes/2019/REC0111.sav")
# rec_2 = pd.read_spss( "../../_data/endes/2019/RE223132.sav")
# rec_3 = pd.read_spss( "../../_data/endes/2019/RE516171.sav")

In [6]:
# Way 2

import savReaderWriter as sav

# List the names of the spss files from the path 
file_list  = [f"../../_data/endes/2019/{x}" for x in ["REC0111.sav", "RE223132.sav", "RE516171.sav"]]

# Create lists with the names of objects that will contain files and their variable and values labels
name_files = [f"rec_{x}" for x in range(1,4)]
name_var_labels = [f"var_labels{x}" for x in range(1,4)]
name_val_labels = [f"value_labels{x}" for x in range(1,4)]

# Apply "for" to read files and their labels of every element in file_list, 
# saving them in various objects based on the most recent objects created
for i, file in enumerate(file_list):
    df = pd.read_spss(file)
    with sav.SavHeaderReader(file, ioUtf8=True) as header:
        metadata = header.all()
    globals()[name_files[i]] = df    
    globals()[name_var_labels[i]] = metadata.varLabels
    globals()[name_val_labels[i]] = metadata.valueLabels

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter. Update the dictionary.**

In [7]:
# Make a dictionary of the columns in each data set that should be chosen
var_filter = {
    "rec1":['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133'],
    "rec2":['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380'],
    "rec3":['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']
}

# Update objects with the new dictionary and name them according the instructions
# In dataframes, use "loc" to select columns 
rec1_1 = rec_1.loc[:, var_filter["rec1"]]
rec2_1 = rec_2.loc[:, var_filter["rec2"]]
rec3_1 = rec_3.loc[:, var_filter["rec3"]]

# In dictionaries, use "for" to select values by key 
new_var_labels1 = {key: var_labels1[key] for key in var_filter["rec1"]}
new_var_labels2 = {key: var_labels2[key] for key in var_filter["rec2"]}
new_var_labels3 = {key: var_labels3[key] for key in var_filter["rec3"]}

# In dictionaries of value labels, indicate that the key is in the list of columns selected
new_value_labels1 = {key: value_labels1[key] for key in var_filter["rec1"] if key in value_labels1}
new_value_labels2 = {key: value_labels2[key] for key in var_filter["rec2"] if key in value_labels2}
new_value_labels3 = {key: value_labels3[key] for key in var_filter["rec3"] if key in value_labels3}

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [8]:
# Generate a new column named "year" with value 2019
rec1_1.loc[:, "year"] = 2019

In [9]:
# Generate a new key on "new_var_labels1" with value "Year of the survey"
new_var_labels1.update({"year": "Year of the survey"})

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [10]:
# Merge rec1_1 and rec2_1 using the variable "CASEID", keeping all rows of both dataframe
rec_1_rec_2 = rec1_1.merge( rec2_1, on='CASEID', how="outer")

In [11]:
# Merge rec_1_rec_2 and rec3_1 using the variable "CASEID", keeping all rows of both dataframe. The new dataframe is
# named as "endes_2019"
endes_2019 = rec_1_rec_2.merge( rec3_1, on='CASEID', how="outer")

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

In [30]:
# create an empty dictionary called var_labels and creates an empty dictionary called value_labels
var_labels   = {}
value_labels = {}
# update() is used to add the contents 
var_labels.update(new_var_labels1)
var_labels.update(new_var_labels2)
var_labels.update(new_var_labels3)
value_labels.update(new_value_labels1)
value_labels.update(new_value_labels2)
value_labels.update(new_value_labels3)
#generate new attributes for endes_2019 using the var_labels and value_labels objects
endes_2019.var_labels   = var_labels
endes_2019.value_labels = value_labels

6. Get the min, max, sd, n_obs, n_missing for the following columns **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)**. We want a dataframe with the following columns **Variables, Min, Max, Mean, N_obs, N_missing** and sort by the number of missing rows. **Hint: Use `describe` and `pivot` methods**

In [31]:
# Indicate columns of interest
cols = ["V201", "V613", "V715", "V511"]

# Sumarize statistics for the selected columns
stats = endes_2019[cols].describe(include = 'all')

# Use the pivot to reshape the output 
pivot_stats = stats.T.loc

# Select only statistic specified in the instructions
pivot_stats = stats.T.loc[:,["min", "max", "mean", "count"]]

# Rename the index column
pivot_stats.index.name = 'Variables'

# Rename other columns
pivot_stats = pivot_stats.rename(columns={'min': 'Min', 'max': 'Max', "mean": "Mean", "count" : "N_obs"})

# Add column with n_missing
pivot_stats['n_missing'] = endes_2019[cols].isnull().sum()

# Add column with n_obs
pivot_stats['N_obs'] = endes_2019[cols].count()

# Sort the dataframe by n_missing
pivot_stats.sort_values(by='n_missing', ascending=False, inplace=True)

# Print the resulting DataFrame
pivot_stats

            Min   Max       Mean  N_obs  n_missing
Variables
V715        NaN   NaN        NaN  25881      12454
V511       10.0  48.0  20.463738  25881      12454
V613        NaN   NaN        NaN  33311       5024
V201        0.0  13.0   1.781946  36922       1413

7. Use `endes_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

8. Reshape `mean_key_vars` from wide to long. We want a dataframe with three columns **dpto, variables, values**. Name this object as `reshape_mean_key_vars`. **Hint: Use melt method**.

9. Replicate your answers for questions 7 and 8, but in one line of code. Make it the most simple as possible. **NO HINT**

10. Merge `reshape_mean_key_vars` with `endes_2019`. Name this object `final_result`. **Hint: Use merge.**