# Assigment 4

This assigment will be graded if everything works well. I will run the script as once and everything should be done without errors and mistakes. I should be able to run your scripts in my computer and get all the results. **USE RELATIVE PATHS**. An error or exception or anything that breaks the code will means NO GRADE (0). Additionally, you are not able to modify any file handly. It also means NO GRADE (0). Comment everything you think will help others read your script. We expect 0 errors using GitHub. Everything will be graded!

**ASK EVERYTHING! WE ARE HERE TO HELP YOU!**

In this path **..\_data\sbs\B_RawData\bancos** you will find scraped data from [this link](https://www.sbs.gob.pe/app/pp/EstadisticasSAEEPortal/Paginas/TIActivaTipoCreditoEmpresa.aspx?tip=B). We get all the information of the last available day of every each month.

1. Import all the data and generate a column named as `date_info` that should have the day to information corresponds.

In [52]:
pip install savReaderWriter

Requirement already satisfied: savReaderWriter in c:\anacondapython\lib\site-packages (3.4.2)
Note: you may need to restart the kernel to use updated packages.

In [53]:
pip install pyreadstat

Requirement already satisfied: pyreadstat in c:\anacondapython\lib\site-packages (1.2.0)
Requirement already satisfied: pandas>=1.2.0 in c:\anacondapython\lib\site-packages (from pyreadstat) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\anacondapython\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\anacondapython\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\anacondapython\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\anacondapython\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadstat) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [54]:
import numpy as np
import pandas as pd
from datetime import datetime

In [55]:
pwd # working directory

'C:\\Users\\Mariana Otero\\Documents\\GitHub\\Diplomado_PUCP\\Lecture_4\\Assigment_4'

In [56]:
# We use the relative path to import the data for 2001 (there is only data for March)
Mar_2001 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_3_2001.xlsx")

In [57]:
type(Mar_2001) #We corroborate that the data is imported as a dataframe

pandas.core.frame.DataFrame

In [58]:
#We generate a column named as date_info containing the date to which the information corresponds
Mar_2001.insert(0, "date_info", "31-03-2001") 
Mar_2001 #we see that the dataframe contains the new column that we generated

,date_info,Tasa Anual (%),BBVA,Comercio,Crédito,Pichincha,BIF,Scotiabank,Citibank,Interbank,Mibanco,GNB,Falabella,Santander,Ripley,Alfin,ICBC,Bank of China,Promedio
0,31-03-2001,Corporativos,2.69,5.50,2.90,5.93,4.09,3.62,-,4.22,-,2.65,-,5.47,-,-,3.06,-,3.22
1,31-03-2001,Descuentos,4.11,5.50,3.57,5.11,4.27,4.12,-,3.98,-,-,-,5.51,-,-,-,-,4.36
2,31-03-2001,Préstamos hasta 30 días,2.81,-,2.62,-,3.00,2.48,-,4.27,-,2.65,-,-,-,-,-,-,2.59
3,31-03-2001,Préstamos de 31 a 90 días,2.74,-,2.84,3.73,3.64,5.51,-,4.74,-,-,-,4.91,-,-,4.25,-,3.64
4,31-03-2001,Préstamos de 91 a 180 días,3.07,-,3.33,5.26,4.21,3.32,-,3.64,-,-,-,5.68,-,-,2.74,-,3.38
5,31-03-2001,Préstamos de 181 a 360 días,-,-,2.66,6.00,4.95,4.06,-,2.05,-,-,-,5.67,-,-,-,-,3.18
6,31-03-2001,Préstamos a más de 360 días,2.27,-,3.01,8.25,-,3.07,-,4.88,-,-,-,4.88,-,-,-,-,2.95
7,31-03-2001,Grandes Empresas,6.26,9.90,5.10,6.08,6.10,5.82,4.10,5.67,-,5.06,-,6.65,-,-,5.47,-,5.65
8,31-03-2001,Descuentos,8.53,8.00,5.61,5.64,5.92,4.97,-,5.82,-,8.00,-,6.39,-,-,-,-,6.28
9,31-03-2001,Préstamos hasta 30 días,5.46,12.00,5.15,-,4.91,5.77,-,5.92,-,4.43,-,7.63,-,-,-,-,5.58
10,31-03-2001,Préstamos de 31 a 90 días,5.16,10.00,5.13,4.97,6.82,6.27,4.65,5.20,-,7.50,-,6.19,-,-,5.47,-,5.74
11,31-03-2001,Préstamos de 91 a 180 días,5.68,7.80,4.64,6.45,7.04,4.47,-,5.08,-,4.56,-,5.96,-,-,-,-,5.18
12,31-03-2001,Préstamos de 181 a 360 días,5.07,-,4.72,8.37,7.16,6.00,3.83,6.79,-,-,-,9.82,-,-,-,-,4.68
13,31-03-2001,Préstamos a más de 360 días,6.27,-,5.35,8.20,5.15,5.38,-,5.97,-,-,-,8.78,-,-,-,-,5.70
14,31-03-2001,Medianas Empresas,9.95,9.28,9.14,7.79,8.55,8.48,4.11,7.53,14.33,6.80,-,6.33,-,-,-,-,8.75
15,31-03-2001,Descuentos,8.87,10.10,9.27,8.45,8.02,7.52,-,7.00,-,-,-,7.46,-,-,-,-,8.41
16,31-03-2001,Préstamos hasta 30 días,11.44,9.18,6.05,7.52,8.21,7.70,-,4.45,-,9.00,-,-,-,-,-,-,6.71
17,31-03-2001,Préstamos de 31 a 90 días,10.62,8.79,8.33,6.46,9.12,7.12,4.71,7.52,21.99,7.42,-,6.16,-,-,-,-,8.08
18,31-03-2001,Préstamos de 91 a 180 días,8.83,8.67,6.85,7.28,9.08,7.11,-,6.48,19.03,-,-,6.91,-,-,-,-,7.65
19,31-03-2001,Préstamos de 181 a 360 días,10.18,9.00,8.16,7.71,8.12,6.24,3.87,18.16,16.04,-,-,5.02,-,-,-,-,6.75
20,31-03-2001,Préstamos a más de 360 días,10.63,8.98,11.05,10.28,8.08,10.83,-,10.97,13.53,6.25,-,8.07,-,-,-,-,10.55
21,31-03-2001,Pequeñas Empresas,16.88,16.00,17.87,19.95,12.88,15.29,-,17.52,21.79,-,-,-,-,-,-,-,19.28
22,31-03-2001,Descuentos,15.41,-,15.10,8.00,12.88,10.02,-,12.84,-,-,-,-,-,-,-,-,14.12
23,31-03-2001,Préstamos hasta 30 días,15.81,-,9.70,37.52,-,13.99,-,-,45.65,-,-,-,-,-,-,-,14.23
24,31-03-2001,Préstamos de 31 a 90 días,16.86,16.00,9.00,24.43,-,11.85,-,9.25,34.44,-,-,-,-,-,-,-,19.10
25,31-03-2001,Préstamos de 91 a 180 días,16.83,-,11.37,21.33,-,11.22,-,8.93,31.39,-,-,-,-,-,-,-,23.22
26,31-03-2001,Préstamos de 181 a 360 días,18.20,-,17.96,21.15,-,15.91,-,25.56,26.05,-,-,-,-,-,-,-,25.08
27,31-03-2001,Préstamos a más de 360 días,16.74,-,18.07,19.84,-,15.45,-,18.46,20.04,-,-,-,-,-,-,-,18.47
28,31-03-2001,Microempresas,25.26,11.00,23.38,27.90,18.00,16.64,-,18.68,35.01,-,-,-,-,-,-,-,32.34
29,31-03-2001,Tarjetas de Crédito,35.10,-,25.46,39.39,-,-,-,-,-,-,-,-,-,-,-,-,30.64
30,31-03-2001,Descuentos,20.64,11.00,16.90,-,-,-,-,6.77,-,-,-,-,-,-,-,-,15.25
31,31-03-2001,Préstamos Revolventes,20.32,-,-,-,18.00,-,-,17.00,-,-,-,-,-,-,-,-,19.42
32,31-03-2001,Préstamos a cuota fija hasta 30 días,14.00,-,-,-,-,-,-,-,49.44,-,-,-,-,-,-,-,31.83
33,31-03-2001,Préstamos a cuota fija de 31 a 90 días,19.31,-,7.11,30.09,-,11.37,-,-,57.27,-,-,-,-,-,-,-,51.78
34,31-03-2001,Préstamos a cuota fija de 91 a 180 días,14.22,-,33.87,34.58,-,10.70,-,28.00,54.57,-,-,-,-,-,-,-,52.73
35,31-03-2001,Préstamos a cuota fija de 181 a 360 días,7.47,-,13.28,32.46,-,15.46,-,26.31,44.55,-,-,-,-,-,-,-,43.05
36,31-03-2001,Préstamos a cuota fija a más de 360 días,17.81,-,23.81,27.63,-,17.30,-,19.19,27.10,-,-,-,-,-,-,-,26.12
37,31-03-2001,Consumo,35.91,13.02,31.10,35.54,14.38,31.97,-,49.52,44.05,33.86,64.78,-,61.20,62.17,-,-,41.81
38,31-03-2001,Tarjetas de Crédito,47.30,29.77,39.32,39.30,30.00,38.42,-,57.73,-,40.40,71.82,-,72.02,-,-,-,52.01
39,31-03-2001,Préstamos Revolventes,13.56,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,13.56
40,31-03-2001,Préstamos no Revolventes para automóviles,12.72,-,9.94,8.99,11.57,8.72,-,9.24,-,-,-,-,-,-,-,-,11.12
41,31-03-2001,Préstamos no Revolventes para libre disponibil...,13.74,35.96,75.06,17.91,8.99,21.41,-,21.97,62.04,-,34.24,-,39.85,83.40,-,-,48.82
42,31-03-2001,Préstamos no Revolventes para libre disponibil...,15.71,12.90,15.24,28.93,12.02,15.19,-,17.05,33.83,11.43,25.49,-,21.60,62.17,-,-,18.72
43,31-03-2001,Créditos pignoraticios,-,47.58,-,-,-,-,-,-,-,-,-,-,-,-,-,-,47.58
44,31-03-2001,Hipotecarios,6.67,8.24,6.74,8.20,6.88,6.56,-,6.83,14.25,7.69,-,-,-,-,-,-,6.85
45,31-03-2001,Préstamos hipotecarios para vivienda,6.67,8.24,6.74,8.20,6.88,6.56,-,6.83,14.25,7.69,-,-,-,-,-,-,6.85

In [59]:
#We convert the column type for date_info to datetime format: DD-MM-YYYY
Mar_2001['date_info']= pd.to_datetime(Mar_2001['date_info'], format = '%d-%m-%Y' )

In [60]:
Mar_2001.info('date_info') #we corroborate that the data type for date_info is datetime

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date_info       46 non-null     datetime64[ns]
 1   Tasa Anual (%)  46 non-null     object
 2   BBVA            46 non-null     object
 3   Comercio        46 non-null     object
 4   Crédito         46 non-null     object
 5   Pichincha       46 non-null     object
 6   BIF             46 non-null     object
 7   Scotiabank      46 non-null     object
 8   Citibank        46 non-null     object
 9   Interbank       46 non-null     object
 10  Mibanco         46 non-null     object
 11  GNB             46 non-null     object
 12  Falabella       46 non-null     object
 13  Santander       46 non-null     object
 14  Ripley          46 non-null     object
 15  Alfin           46 non-null     object
 16  ICBC            46 non-null     object
 17  Bank of China   46 non-null     object
 18  Promedio        46 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(17)
memory usage: 7.0+ KB

In [61]:
# Now we import the data for 2002 and repeat the process to generate the column date_info and convert it to datetime.
Sep_2002 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_9_2002.xlsx")
Sep_2002.insert(0, "date_info", "30-09-2002")
Sep_2002['date_info']= pd.to_datetime(Sep_2002['date_info'], format = '%d-%m-%Y' )

Oct_2002 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_10_2002.xlsx")
Oct_2002.insert(0, "date_info", "31-10-2002")
Oct_2002['date_info']= pd.to_datetime(Oct_2002['date_info'], format = '%d-%m-%Y' )

Nov_2002 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_11_2002.xlsx")
Nov_2002.insert(0, "date_info", "29-11-2002")
Nov_2002['date_info']= pd.to_datetime(Nov_2002['date_info'], format = '%d-%m-%Y' )

Dec_2002 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_12_2002.xlsx")
Dec_2002.insert(0, "date_info", "31-12-2002")
Dec_2002['date_info']= pd.to_datetime(Dec_2002['date_info'], format = '%d-%m-%Y' )

In [62]:
# We repeat the above process: Data for 2003
Jan_2003 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_1_2003.xlsx")
Jan_2003.insert(0, "date_info", "31-01-2003")
Jan_2003['date_info']= pd.to_datetime(Jan_2003['date_info'], format = '%d-%m-%Y' )

Feb_2003 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_2_2003.xlsx")
Feb_2003.insert(0, "date_info", "28-02-2003")
Feb_2003['date_info']= pd.to_datetime(Feb_2003['date_info'], format = '%d-%m-%Y' )

Mar_2003 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_3_2003.xlsx")
Mar_2003.insert(0, "date_info", "31-03-2003")
Mar_2003['date_info']= pd.to_datetime(Mar_2003['date_info'], format = '%d-%m-%Y' )

Apr_2003 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_4_2003.xlsx")
Apr_2003.insert(0, "date_info", "30-04-2003")
Apr_2003['date_info']= pd.to_datetime(Apr_2003['date_info'], format = '%d-%m-%Y' )

May_2003 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_5_2003.xlsx")
May_2003.insert(0, "date_info", "30-05-2003")
May_2003['date_info']= pd.to_datetime(May_2003['date_info'], format = '%d-%m-%Y' )

Jun_2003 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_6_2003.xlsx")
Jun_2003.insert(0, "date_info", "30-06-2003")
Jun_2003['date_info']= pd.to_datetime(Jun_2003['date_info'], format = '%d-%m-%Y' )

Jul_2003 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_7_2003.xlsx")
Jul_2003.insert(0, "date_info", "31-07-2003")
Jul_2003['date_info']= pd.to_datetime(Jul_2003['date_info'], format = '%d-%m-%Y' )

Aug_2003 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_8_2003.xlsx")
Aug_2003.insert(0, "date_info", "29-08-2003")
Aug_2003['date_info']= pd.to_datetime(Aug_2003['date_info'], format = '%d-%m-%Y' )

Sep_2003 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_9_2003.xlsx")
Sep_2003.insert(0, "date_info", "30-09-2003")
Sep_2003['date_info']= pd.to_datetime(Sep_2003['date_info'], format = '%d-%m-%Y' )

Oct_2003 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_10_2003.xlsx")
Oct_2003.insert(0, "date_info", "31-10-2003")
Oct_2003['date_info']= pd.to_datetime(Oct_2003['date_info'], format = '%d-%m-%Y' )

Nov_2003 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_11_2003.xlsx")
Nov_2003.insert(0, "date_info", "28-11-2003")
Nov_2003['date_info']= pd.to_datetime(Nov_2003['date_info'], format = '%d-%m-%Y' )

Dec_2003 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_12_2003.xlsx")
Dec_2003.insert(0, "date_info", "31-12-2003")
Dec_2003['date_info']= pd.to_datetime(Dec_2003['date_info'], format = '%d-%m-%Y' )

In [63]:
#2004
Jan_2004 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_1_2004.xlsx")
Jan_2004.insert(0, "date_info", "29-01-2004")
Jan_2004['date_info']= pd.to_datetime(Jan_2004['date_info'], format = '%d-%m-%Y' )

Feb_2004 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_26_2_2004.xlsx")
Feb_2004.insert(0, "date_info", "26-02-2004")
Feb_2004['date_info']= pd.to_datetime(Feb_2004['date_info'], format = '%d-%m-%Y' )

Mar_2004 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_3_2004.xlsx")
Mar_2004.insert(0, "date_info", "31-03-2004")
Mar_2004['date_info']= pd.to_datetime(Mar_2004['date_info'], format = '%d-%m-%Y' )

Apr_2004 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_4_2004.xlsx")
Apr_2004.insert(0, "date_info", "30-04-2004")
Apr_2004['date_info']= pd.to_datetime(Apr_2004['date_info'], format = '%d-%m-%Y' )

May_2004 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_5_2004.xlsx")
May_2004.insert(0, "date_info", "31-05-2004")
May_2004['date_info']= pd.to_datetime(May_2004['date_info'], format = '%d-%m-%Y' )

Jun_2004 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_6_2004.xlsx")
Jun_2004.insert(0, "date_info", "30-06-2004")
Jun_2004['date_info']= pd.to_datetime(Jun_2004['date_info'], format = '%d-%m-%Y' )

Jul_2004 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_7_2004.xlsx")
Jul_2004.insert(0, "date_info", "30-07-2004")
Jul_2004['date_info']= pd.to_datetime(Jul_2004['date_info'], format = '%d-%m-%Y' )

Aug_2004 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_8_2004.xlsx")
Aug_2004.insert(0, "date_info", "31-08-2004")
Aug_2004['date_info']= pd.to_datetime(Aug_2004['date_info'], format = '%d-%m-%Y' )

Sep_2004 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_9_2004.xlsx")
Sep_2004.insert(0, "date_info", "30-09-2004")
Sep_2004['date_info']= pd.to_datetime(Sep_2004['date_info'], format = '%d-%m-%Y' )

Oct_2004 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_10_2004.xlsx")
Oct_2004.insert(0, "date_info", "29-10-2004")
Oct_2004['date_info']= pd.to_datetime(Oct_2004['date_info'], format = '%d-%m-%Y' )

Nov_2004 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_11_2004.xlsx")
Nov_2004.insert(0, "date_info", "30-11-2004")
Nov_2004['date_info']= pd.to_datetime(Nov_2004['date_info'], format = '%d-%m-%Y' )

Dec_2004 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_12_2004.xlsx")
Dec_2004.insert(0, "date_info", "31-12-2004")
Dec_2004['date_info']= pd.to_datetime(Dec_2004['date_info'], format = '%d-%m-%Y' )

In [64]:
#2005
Jan_2005 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_1_2005.xlsx")
Jan_2005.insert(0, "date_info", "31-01-2005")
Jan_2005['date_info']= pd.to_datetime(Jan_2005['date_info'], format = '%d-%m-%Y' )

Feb_2005 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_2_2005.xlsx")
Feb_2005.insert(0, "date_info", "28-02-2005")
Feb_2005['date_info']= pd.to_datetime(Feb_2005['date_info'], format = '%d-%m-%Y' )

Mar_2005 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_3_2005.xlsx")
Mar_2005.insert(0, "date_info", "31-03-2005")
Mar_2005['date_info']= pd.to_datetime(Mar_2005['date_info'], format = '%d-%m-%Y' )

Apr_2005 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_4_2005.xlsx")
Apr_2005.insert(0, "date_info", "29-04-2005")
Apr_2005['date_info']= pd.to_datetime(Apr_2005['date_info'], format = '%d-%m-%Y' )

May_2005 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_5_2005.xlsx")
May_2005.insert(0, "date_info", "31-05-2005")
May_2005['date_info']= pd.to_datetime(May_2005['date_info'], format = '%d-%m-%Y' )

Jun_2005 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_6_2005.xlsx")
Jun_2005.insert(0, "date_info", "30-06-2005")
Jun_2005['date_info']= pd.to_datetime(Jun_2005['date_info'], format = '%d-%m-%Y' )

Jul_2005 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_27_7_2005.xlsx")
Jul_2005.insert(0, "date_info", "27-07-2005")
Jul_2005['date_info']= pd.to_datetime(Jul_2005['date_info'], format = '%d-%m-%Y' )

Aug_2005 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_8_2005.xlsx")
Aug_2005.insert(0, "date_info", "31-08-2005")
Aug_2005['date_info']= pd.to_datetime(Aug_2005['date_info'], format = '%d-%m-%Y' )

Sep_2005 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_9_2005.xlsx")
Sep_2005.insert(0, "date_info", "30-09-2005")
Sep_2005['date_info']= pd.to_datetime(Sep_2005['date_info'], format = '%d-%m-%Y' )

Oct_2005 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_10_2005.xlsx")
Oct_2005.insert(0, "date_info", "31-10-2005")
Oct_2005['date_info']= pd.to_datetime(Oct_2005['date_info'], format = '%d-%m-%Y' )

Nov_2005 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_11_2005.xlsx")
Nov_2005.insert(0, "date_info", "29-11-2005")
Nov_2005['date_info']= pd.to_datetime(Nov_2005['date_info'], format = '%d-%m-%Y' )

Dec_2005 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_12_2005.xlsx")
Dec_2005.insert(0, "date_info", "30-12-2005")
Dec_2005['date_info']= pd.to_datetime(Dec_2005['date_info'], format = '%d-%m-%Y' )

In [68]:
#2006
Jan_2006 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_1_2006.xlsx")
Jan_2006.insert(0, "date_info", "31-01-2006")
Jan_2006['date_info']= pd.to_datetime(Jan_2006['date_info'], format = '%d-%m-%Y' )

Feb_2006 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_2_2006.xlsx")
Feb_2006.insert(0, "date_info", "28-02-2006")
Feb_2006['date_info']= pd.to_datetime(Feb_2006['date_info'], format = '%d-%m-%Y' )

Mar_2006 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_3_2006.xlsx")
Mar_2006.insert(0, "date_info", "31-03-2006")
Mar_2006['date_info']= pd.to_datetime(Mar_2006['date_info'], format = '%d-%m-%Y' )

Apr_2006 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_4_2006.xlsx")
Apr_2006.insert(0, "date_info", "28-04-2006")
Apr_2006['date_info']= pd.to_datetime(Apr_2006['date_info'], format = '%d-%m-%Y' )

May_2006 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_5_2006.xlsx")
May_2006.insert(0, "date_info", "31-05-2006")
May_2006['date_info']= pd.to_datetime(May_2006['date_info'], format = '%d-%m-%Y' )

Jun_2006 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_6_2006.xlsx")
Jun_2006.insert(0, "date_info", "30-06-2006")
Jun_2006['date_info']= pd.to_datetime(Jun_2006['date_info'], format = '%d-%m-%Y' )

Jul_2006 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_7_2006.xlsx")
Jul_2006.insert(0, "date_info", "31-07-2006")
Jul_2006['date_info']= pd.to_datetime(Jul_2006['date_info'], format = '%d-%m-%Y' )

Aug_2006 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_8_2006.xlsx")
Aug_2006.insert(0, "date_info", "31-08-2006")
Aug_2006['date_info']= pd.to_datetime(Aug_2006['date_info'], format = '%d-%m-%Y' )

Sep_2006 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_9_2006.xlsx")
Sep_2006.insert(0, "date_info", "29-09-2006")
Sep_2006['date_info']= pd.to_datetime(Jan_2005['date_info'], format = '%d-%m-%Y' )

Oct_2006 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_10_2006.xlsx")
Oct_2006.insert(0, "date_info", "31-10-2006")
Oct_2006['date_info']= pd.to_datetime(Sep_2006['date_info'], format = '%d-%m-%Y' )

Nov_2006 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_11_2006.xlsx")
Nov_2006.insert(0, "date_info", "30-11-2006")
Nov_2006['date_info']= pd.to_datetime(Nov_2006['date_info'], format = '%d-%m-%Y' )

Dec_2006 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_12_2006.xlsx")
Dec_2006.insert(0, "date_info", "29-12-2006")
Dec_2006['date_info']= pd.to_datetime(Dec_2006['date_info'], format = '%d-%m-%Y' )

In [69]:
#2007
Jan_2007 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_1_2007.xlsx")
Jan_2007.insert(0, "date_info", "31-01-2007")
Jan_2007['date_info']= pd.to_datetime(Jan_2007['date_info'], format = '%d-%m-%Y' )

Feb_2007 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_2_2007.xlsx")
Feb_2007.insert(0, "date_info", "28-02-2007")
Feb_2007['date_info']= pd.to_datetime(Feb_2007['date_info'], format = '%d-%m-%Y' )

Mar_2007 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_3_2007.xlsx")
Mar_2007.insert(0, "date_info", "30-03-2007")
Mar_2007['date_info']= pd.to_datetime(Mar_2007['date_info'], format = '%d-%m-%Y' )

Apr_2007 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_4_2007.xlsx")
Apr_2007.insert(0, "date_info", "30-04-2007")
Apr_2007['date_info']= pd.to_datetime(Apr_2007['date_info'], format = '%d-%m-%Y' )

May_2007 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_5_2007.xlsx")
May_2007.insert(0, "date_info", "31-05-2007")
May_2007['date_info']= pd.to_datetime(May_2007['date_info'], format = '%d-%m-%Y' )

Jun_2007 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_6_2007.xlsx")
Jun_2007.insert(0, "date_info", "28-016-2007")
Jun_2007['date_info']= pd.to_datetime(Jun_2007['date_info'], format = '%d-%m-%Y' )

Jul_2007 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_7_2007.xlsx")
Jul_2007.insert(0, "date_info", "31-07-2007")
Jul_2007['date_info']= pd.to_datetime(Jul_2007['date_info'], format = '%d-%m-%Y' )

Aug_2007 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_8_2007.xlsx")
Aug_2007.insert(0, "date_info", "31-08-2007")
Aug_2007['date_info']= pd.to_datetime(Aug_2007['date_info'], format = '%d-%m-%Y' )

Sep_2007 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_9_2007.xlsx")
Sep_2007.insert(0, "date_info", "28-09-2007")
Sep_2007['date_info']= pd.to_datetime(Sep_2007['date_info'], format = '%d-%m-%Y' )

Oct_2007 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_10_2007.xlsx")
Oct_2007.insert(0, "date_info", "31-10-2007")
Oct_2007['date_info']= pd.to_datetime(Oct_2007['date_info'], format = '%d-%m-%Y' )

Nov_2007 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_11_2007.xlsx")
Nov_2007.insert(0, "date_info", "30-11-2007")
Nov_2007['date_info']= pd.to_datetime(Nov_2007['date_info'], format = '%d-%m-%Y' )

Dec_2007 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_12_2007.xlsx")
Dec_2007.insert(0, "date_info", "31-12-2007")
Dec_2007['date_info']= pd.to_datetime(Dec_2007['date_info'], format = '%d-%m-%Y' )

ValueError: time data '28-016-2007' does not match format '%d-%m-%Y' (match)

In [70]:
#2008
Jan_2008 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_1_2008.xlsx")
Jan_2008.insert(0, "date_info", "31-01-2008")
Jan_2008['date_info']= pd.to_datetime(Jan_2008['date_info'], format = '%d-%m-%Y' )

Feb_2008 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_2_2008.xlsx")
Feb_2008.insert(0, "date_info", "29-02-2008")
Feb_2008['date_info']= pd.to_datetime(Feb_2008['date_info'], format = '%d-%m-%Y' )

Mar_2008 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_3_2008.xlsx")
Mar_2008.insert(0, "date_info", "31-03-2008")
Mar_2008['date_info']= pd.to_datetime(Mar_2008['date_info'], format = '%d-%m-%Y' )

Apr_2008 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_4_2008.xlsx")
Apr_2008.insert(0, "date_info", "30-04-2008")
Apr_2008['date_info']= pd.to_datetime(Apr_2008['date_info'], format = '%d-%m-%Y' )

May_2008 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_5_2008.xlsx")
May_2008.insert(0, "date_info", "30-05-2008")
May_2008['date_info']= pd.to_datetime(May_2008['date_info'], format = '%d-%m-%Y' )

Jun_2008 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_6_2008.xlsx")
Jun_2008.insert(0, "date_info", "30-06-2008")
Jun_2008['date_info']= pd.to_datetime(Jun_2008['date_info'], format = '%d-%m-%Y' )

Jul_2008 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_7_2008.xlsx")
Jul_2008.insert(0, "date_info", "31-07-2008")
Jul_2008['date_info']= pd.to_datetime(Jul_2008['date_info'], format = '%d-%m-%Y' )

Aug_2008 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_8_2008.xlsx")
Aug_2008.insert(0, "date_info", "29-08-2008")
Aug_2008['date_info']= pd.to_datetime(Aug_2008['date_info'], format = '%d-%m-%Y' )

Sep_2008 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_9_2008.xlsx")
Sep_2008.insert(0, "date_info", "310-09-2008")
Sep_2008['date_info']= pd.to_datetime(Sep_2008['date_info'], format = '%d-%m-%Y' )

Oct_2008 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_10_2008.xlsx")
Oct_2008.insert(0, "date_info", "31-10-2008")
Oct_2008['date_info']= pd.to_datetime(Oct_2008['date_info'], format = '%d-%m-%Y' )

Nov_2008 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_11_2008.xlsx")
Nov_2008.insert(0, "date_info", "28-11-2008")
Nov_2008['date_info']= pd.to_datetime(Nov_2008['date_info'], format = '%d-%m-%Y' )

Dec_2008 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_12_2008.xlsx")
Dec_2008.insert(0, "date_info", "30-12-2008")
Dec_2008['date_info']= pd.to_datetime(Dec_2008['date_info'], format = '%d-%m-%Y' )

ValueError: time data '310-09-2008' does not match format '%d-%m-%Y' (match)

In [71]:
#2009
Jan_2009 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_1_2009.xlsx")
Jan_2009.insert(0, "date_info", "30-01-2009")
Jan_2009['date_info']= pd.to_datetime(Jan_2009['date_info'], format = '%d-%m-%Y' )

Feb_2009 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_27_2_2009.xlsx")
Feb_2009.insert(0, "date_info", "27-02-2009")
Feb_2009['date_info']= pd.to_datetime(Feb_2009['date_info'], format = '%d-%m-%Y' )

Mar_2009 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_3_2009.xlsx")
Mar_2009.insert(0, "date_info", "31-03-2009")
Mar_2009['date_info']= pd.to_datetime(Mar_2009['date_info'], format = '%d-%m-%Y' )

Apr_2009 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_4_2009.xlsx")
Apr_2009.insert(0, "date_info", "30-04-2009")
Apr_2009['date_info']= pd.to_datetime(Apr_2009['date_info'], format = '%d-%m-%Y' )

May_2009 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_5_2009.xlsx")
May_2009.insert(0, "date_info", "29-05-2009")
May_2009['date_info']= pd.to_datetime(May_2009['date_info'], format = '%d-%m-%Y' )

Jun_2009 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_6_2009.xlsx")
Jun_2009.insert(0, "date_info", "30-06-2009")
Jun_2009['date_info']= pd.to_datetime(Jun_2009['date_info'], format = '%d-%m-%Y' )

Jul_2009 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_7_2009.xlsx")
Jul_2009.insert(0, "date_info", "31-07-2009")
Jul_2009['date_info']= pd.to_datetime(Jul_2009['date_info'], format = '%d-%m-%Y' )

Aug_2009 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_8_2009.xlsx")
Aug_2009.insert(0, "date_info", "31-08-2009")
Aug_2009['date_info']= pd.to_datetime(Aug_2009['date_info'], format = '%d-%m-%Y' )

Sep_2009 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_9_2009.xlsx")
Sep_2009.insert(0, "date_info", "30-09-2009")
Sep_2009['date_info']= pd.to_datetime(Sep_2009['date_info'], format = '%d-%m-%Y' )

Oct_2009 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_10_2009.xlsx")
Oct_2009.insert(0, "date_info", "30-10-2009)
Oct_2009['date_info']= pd.to_datetime(Oct_2009['date_info'], format = '%d-%m-%Y' )

Nov_2009 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_11_2009.xlsx")
Nov_2009.insert(0, "date_info", "30-11-2009")
Nov_2009['date_info']= pd.to_datetime(Nov_2009['date_info'], format = '%d-%m-%Y' )

Dec_2009 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_12_2009.xlsx")
Dec_2009.insert(0, "date_info", "30-12-2009")
Dec_2009['date_info']= pd.to_datetime(Dec_2009['date_info'], format = '%d-%m-%Y' )

SyntaxError: EOL while scanning string literal (2975749494.py, line 39)

In [72]:
#2010
Jan_2010 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_1_2010.xlsx")
Jan_2010.insert(0, "date_info", "29-01-2010")
Jan_2010['date_info']= pd.to_datetime(Jan_2010['date_info'], format = '%d-%m-%Y' )

Feb_2010 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_26_2_2010.xlsx")
Feb_2010.insert(0, "date_info", "26-02-2010")
Feb_2010['date_info']= pd.to_datetime(Feb_2010['date_info'], format = '%d-%m-%Y' )

Mar_2010 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_3_2010.xlsx")
Mar_2010.insert(0, "date_info", "31-03-2010")
Mar_2010['date_info']= pd.to_datetime(Mar_2010['date_info'], format = '%d-%m-%Y' )

Apr_2010 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_4_2010.xlsx")
Apr_2010.insert(0, "date_info", "30-04-2010")
Apr_2010['date_info']= pd.to_datetime(Apr_2010['date_info'], format = '%d-%m-%Y' )

May_2010 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_5_2010.xlsx")
May_2010.insert(0, "date_info", "31-05-2010")
May_2010['date_info']= pd.to_datetime(May_2010['date_info'], format = '%d-%m-%Y' )

Jun_2010 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_6_2010.xlsx")
Jun_2010.insert(0, "date_info", "30-06-2010")
Jun_2010['date_info']= pd.to_datetime(Jun_2010['date_info'], format = '%d-%m-%Y' )

Jul_2010 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_27_7_2010.xlsx")
Jul_2010.insert(0, "date_info", "27-07-2010")
Jul_2010['date_info']= pd.to_datetime(Jul_2010['date_info'], format = '%d-%m-%Y' )

Aug_2010 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_8_2010.xlsx")
Aug_2010.insert(0, "date_info", "31-08-2010")
Aug_2010['date_info']= pd.to_datetime(Aug_2010['date_info'], format = '%d-%m-%Y' )

Sep_2010 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_9_2010.xlsx")
Sep_2005.insert(0, "date_info", "30-09-2010")
Sep_2005['date_info']= pd.to_datetime(Sep_2010['date_info'], format = '%d-%m-%Y' )

Oct_2010 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_10_2010.xlsx")
Oct_2010.insert(0, "date_info", "29-10-2010")
Oct_2010['date_info']= pd.to_datetime(Oct_2010['date_info'], format = '%d-%m-%Y' )

Nov_2010 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_11_2010.xlsx")
Nov_2010.insert(0, "date_info", "30-11-2010")
Nov_2010['date_info']= pd.to_datetime(Nov_2010['date_info'], format = '%d-%m-%Y' )

Dec_2010 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_12_2010.xlsx")
Dec_2010.insert(0, "date_info", "31-12-2010")
Dec_2010['date_info']= pd.to_datetime(Dec_2010['date_info'], format = '%d-%m-%Y' )

ValueError: cannot insert date_info, already exists

In [73]:
#2011
Jan_2011 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_1_2011.xlsx")
Jan_2011.insert(0, "date_info", "31-01-2011")
Jan_2011['date_info']= pd.to_datetime(Jan_2011['date_info'], format = '%d-%m-%Y' )

Feb_2011 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_2_2011.xlsx")
Feb_2011.insert(0, "date_info", "28-02-2011")
Feb_2011['date_info']= pd.to_datetime(Feb_2011['date_info'], format = '%d-%m-%Y' )

Mar_2011 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_3_2011.xlsx")
Mar_2011.insert(0, "date_info", "31-03-2011")
Mar_2011['date_info']= pd.to_datetime(Mar_2011['date_info'], format = '%d-%m-%Y' )

Apr_2011 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_4_2011.xlsx")
Apr_2011.insert(0, "date_info", "29-04-2011")
Apr_2011['date_info']= pd.to_datetime(Apr_2011['date_info'], format = '%d-%m-%Y' )

May_2011 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_5_2011.xlsx")
May_2011.insert(0, "date_info", "31-05-2011")
May_2011['date_info']= pd.to_datetime(May_2011['date_info'], format = '%d-%m-%Y' )

Jun_2011 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_6_2011.xlsx")
Jun_2011.insert(0, "date_info", "30-06-2011")
Jun_2011['date_info']= pd.to_datetime(Jun_2011['date_info'], format = '%d-%m-%Y' )

Jul_2011 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_27_7_2011.xlsx")
Jul_2011.insert(0, "date_info", "27-07-2011")
Jul_2011['date_info']= pd.to_datetime(Jul_2011['date_info'], format = '%d-%m-%Y' )

Aug_2011 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_8_2011.xlsx")
Aug_2011.insert(0, "date_info", "31-08-2011")
Aug_2011['date_info']= pd.to_datetime(Aug_2011['date_info'], format = '%d-%m-%Y' )

Sep_2011 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_9_2011.xlsx")
Sep_2011.insert(0, "date_info", "30-09-2011")
Sep_2011['date_info']= pd.to_datetime(Sep_2011['date_info'], format = '%d-%m-%Y' )

Oct_2011 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_10_2011.xlsx")
Oct_2011.insert(0, "date_info", "28-10-2011")
Oct_2011['date_info']= pd.to_datetime(Oct_2011['date_info'], format = '%d-%m-%Y' )

Nov_2011 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_11_2011.xlsx")
Nov_2011.insert(0, "date_info", "30-11-2011")
Nov_2011['date_info']= pd.to_datetime(Nov_2011['date_info'], format = '%d-%m-%Y' )

Dec_2011 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_12_2011.xlsx")
Dec_2011.insert(0, "date_info", "30-12-2011")
Dec_2011['date_info']= pd.to_datetime(Dec_2011['date_info'], format = '%d-%m-%Y' )

In [74]:
#2012
Jan_2012 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_1_2012.xlsx")
Jan_2012.insert(0, "date_info", "31-01-2012")
Jan_2012['date_info']= pd.to_datetime(Jan_2012['date_info'], format = '%d-%m-%Y' )

Feb_2012 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_2_2012.xlsx")
Feb_2012.insert(0, "date_info", "29-02-2012")
Feb_2012['date_info']= pd.to_datetime(Feb_2012['date_info'], format = '%d-%m-%Y' )

Mar_2012 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_3_2012.xlsx")
Mar_2012.insert(0, "date_info", "30-03-2012")
Mar_2012['date_info']= pd.to_datetime(Mar_2012['date_info'], format = '%d-%m-%Y' )

Apr_2012 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_4_2012.xlsx")
Apr_2012.insert(0, "date_info", "30-04-2012")
Apr_2012['date_info']= pd.to_datetime(Apr_2012['date_info'], format = '%d-%m-%Y' )

May_2012 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_5_2012.xlsx")
May_2012.insert(0, "date_info", "31-05-2012")
May_2012['date_info']= pd.to_datetime(May_2012['date_info'], format = '%d-%m-%Y' )

Jun_2012 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_6_2012.xlsx")
Jun_2012.insert(0, "date_info", "28-06-2012")
Jun_2012['date_info']= pd.to_datetime(Jun_2012['date_info'], format = '%d-%m-%Y' )

Jul_2012 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_7_2012.xlsx")
Jul_2012.insert(0, "date_info", "31-07-2012")
Jul_2012['date_info']= pd.to_datetime(Jul_2012['date_info'], format = '%d-%m-%Y' )

Aug_2012 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_8_2012.xlsx")
Aug_2012.insert(0, "date_info", "29-08-2012")
Aug_2012['date_info']= pd.to_datetime(Aug_2012['date_info'], format = '%d-%m-%Y' )

Sep_2012 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_9_2012.xlsx")
Sep_2012.insert(0, "date_info", "28-09-2012")
Sep_2012['date_info']= pd.to_datetime(Sep_2012['date_info'], format = '%d-%m-%Y' )

Oct_2012 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_10_2012.xlsx")
Oct_2012.insert(0, "date_info", "31-10-2012")
Oct_2012['date_info']= pd.to_datetime(Oct_2012['date_info'], format = '%d-%m-%Y' )

Nov_2012 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_11_2012.xlsx")
Nov_2012.insert(0, "date_info", "30-11-2012")
Nov_2012['date_info']= pd.to_datetime(Nov_2012['date_info'], format = '%d-%m-%Y' )

Dec_2012 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_12_2012.xlsx")
Dec_2012.insert(0, "date_info", "28-12-2012")
Dec_2012['date_info']= pd.to_datetime(Dec_2012['date_info'], format = '%d-%m-%Y' )

In [75]:
#2013
Jan_2013 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_1_2013.xlsx")
Jan_2013.insert(0, "date_info", "31-01-2013")
Jan_2013['date_info']= pd.to_datetime(Jan_2013['date_info'], format = '%d-%m-%Y' )

Feb_2013 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_2_2013.xlsx")
Feb_2013.insert(0, "date_info", "28-02-2013")
Feb_2013['date_info']= pd.to_datetime(Feb_2013['date_info'], format = '%d-%m-%Y' )

Mar_2013 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_27_3_2013.xlsx")
Mar_2013.insert(0, "date_info", "27-03-2013")
Mar_2013['date_info']= pd.to_datetime(Mar_2013['date_info'], format = '%d-%m-%Y' )

Apr_2013 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_4_2013.xlsx")
Apr_2013.insert(0, "date_info", "30-04-2013")
Apr_2013['date_info']= pd.to_datetime(Apr_2013['date_info'], format = '%d-%m-%Y' )

May_2013 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_5_2013.xlsx")
May_2013.insert(0, "date_info", "31-05-2013")
May_2013['date_info']= pd.to_datetime(May_2013['date_info'], format = '%d-%m-%Y' )

Jun_2013 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_6_2013.xlsx")
Jun_2013.insert(0, "date_info", "28-06-2013")
Jun_2013['date_info']= pd.to_datetime(Jun_2013['date_info'], format = '%d-%m-%Y' )

Jul_2013 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_7_2013.xlsx")
Jul_2013.insert(0, "date_info", "31-07-2013")
Jul_2013['date_info']= pd.to_datetime(Jul_2013['date_info'], format = '%d-%m-%Y' )

Aug_2013 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_8_2013.xlsx")
Aug_2013.insert(0, "date_info", "29-08-2013")
Aug_2013['date_info']= pd.to_datetime(Aug_2013['date_info'], format = '%d-%m-%Y' )

Sep_2013 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_9_2013.xlsx")
Sep_2013.insert(0, "date_info", "30-09-2013")
Sep_2013['date_info']= pd.to_datetime(Sep_2013['date_info'], format = '%d-%m-%Y' )

Oct_2013 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_10_2013.xlsx")
Oct_2013.insert(0, "date_info", "31-10-2013")
Oct_2013['date_info']= pd.to_datetime(Oct_2013['date_info'], format = '%d-%m-%Y' )

Nov_2013 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_11_2013.xlsx")
Nov_2013.insert(0, "date_info", "29-11-2013")
Nov_2013['date_info']= pd.to_datetime(Nov_2013['date_info'], format = '%d-%m-%Y' )

Dec_2013 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_12_2013.xlsx")
Dec_2013.insert(0, "date_info", "30-12-2013")
Dec_2013['date_info']= pd.to_datetime(Dec_2013['date_info'], format = '%d-%m-%Y' )

In [76]:
#2014
Jan_2014 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_1_2014.xlsx")
Jan_2014.insert(0, "date_info", "31-01-2014")
Jan_2014['date_info']= pd.to_datetime(Jan_2014['date_info'], format = '%d-%m-%Y' )

Feb_2014 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_2_2014.xlsx")
Feb_2014.insert(0, "date_info", "28-02-2014")
Feb_2014['date_info']= pd.to_datetime(Feb_2014['date_info'], format = '%d-%m-%Y' )

Mar_2014 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_3_2014.xlsx")
Mar_2014.insert(0, "date_info", "31-03-2014")
Mar_2014['date_info']= pd.to_datetime(Mar_2014['date_info'], format = '%d-%m-%Y' )

Apr_2014 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_4_2014.xlsx")
Apr_2014.insert(0, "date_info", "30-04-2014")
Apr_2014['date_info']= pd.to_datetime(Apr_2014['date_info'], format = '%d-%m-%Y' )

May_2014 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_5_2014.xlsx")
May_2014.insert(0, "date_info", "30-05-2014")
May_2014['date_info']= pd.to_datetime(May_2014['date_info'], format = '%d-%m-%Y' )

Jun_2014 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_6_2014.xlsx")
Jun_2014.insert(0, "date_info", "30-06-2014")
Jun_2014['date_info']= pd.to_datetime(Jun_2014['date_info'], format = '%d-%m-%Y' )

Jul_2014 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_7_2014.xlsx")
Jul_2014.insert(0, "date_info", "31-07-2014")
Jul_2014['date_info']= pd.to_datetime(Jul_2014['date_info'], format = '%d-%m-%Y' )

Aug_2014 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_8_2014.xlsx")
Aug_2014.insert(0, "date_info", "29-08-2014")
Aug_2014['date_info']= pd.to_datetime(Aug_2014['date_info'], format = '%d-%m-%Y' )

Sep_2014 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_9_2014.xlsx")
Sep_2014.insert(0, "date_info", "30-09-2014")
Sep_2014['date_info']= pd.to_datetime(Sep_2014['date_info'], format = '%d-%m-%Y' )

Oct_2014 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_10_2014.xlsx")
Oct_2014.insert(0, "date_info", "31-10-2014")
Oct_2014['date_info']= pd.to_datetime(Oct_2014['date_info'], format = '%d-%m-%Y' )

Nov_2014 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_11_2014.xlsx")
Nov_2014.insert(0, "date_info", "28-11-2014")
Nov_2014['date_info']= pd.to_datetime(Nov_2014['date_info'], format = '%d-%m-%Y' )

Dec_2014 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_12_2014.xlsx")
Dec_2014.insert(0, "date_info", "31-12-2014")
Dec_2014['date_info']= pd.to_datetime(Dec_2014['date_info'], format = '%d-%m-%Y' )

In [77]:
#2015
Jan_2015 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_1_2015.xlsx")
Jan_2015.insert(0, "date_info", "31-01-2015")
Jan_2015['date_info']= pd.to_datetime(Jan_2015['date_info'], format = '%d-%m-%Y' )

Feb_2015 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_27_2_2015.xlsx")
Feb_2015.insert(0, "date_info", "27-02-2015")
Feb_2015['date_info']= pd.to_datetime(Feb_2015['date_info'], format = '%d-%m-%Y' )

Mar_2015 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_3_2015.xlsx")
Mar_2015.insert(0, "date_info", "31-03-2015")
Mar_2015['date_info']= pd.to_datetime(Mar_2015['date_info'], format = '%d-%m-%Y' )

Apr_2015 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_4_2015.xlsx")
Apr_2015.insert(0, "date_info", "30-04-2015")
Apr_2015['date_info']= pd.to_datetime(Apr_2015['date_info'], format = '%d-%m-%Y' )

May_2015 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_5_2015.xlsx")
May_2015.insert(0, "date_info", "29-05-2015")
May_2015['date_info']= pd.to_datetime(May_2015['date_info'], format = '%d-%m-%Y' )

Jun_2015 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_6_2015.xlsx")
Jun_2015.insert(0, "date_info", "30-06-2015")
Jun_2015['date_info']= pd.to_datetime(Jun_2015['date_info'], format = '%d-%m-%Y' )

Jul_2015 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_7_2015.xlsx")
Jul_2015.insert(0, "date_info", "31-07-2015")
Jul_2015['date_info']= pd.to_datetime(Jul_2015['date_info'], format = '%d-%m-%Y' )

Aug_2015 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_8_2015.xlsx")
Aug_2015.insert(0, "date_info", "31-08-2015")
Aug_2015['date_info']= pd.to_datetime(Aug_2015['date_info'], format = '%d-%m-%Y' )

Sep_2015 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_9_2015.xlsx")
Sep_2015.insert(0, "date_info", "30-09-2015")
Sep_2015['date_info']= pd.to_datetime(Sep_2015['date_info'], format = '%d-%m-%Y' )

Oct_2015 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_10_2015.xlsx")
Oct_2015.insert(0, "date_info", "30-10-2015")
Oct_2015['date_info']= pd.to_datetime(Oct_2015['date_info'], format = '%d-%m-%Y' )

Nov_2015 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_11_2015.xlsx")
Nov_2015.insert(0, "date_info", "30-11-2015")
Nov_2015['date_info']= pd.to_datetime(Nov_2015['date_info'], format = '%d-%m-%Y' )

Dec_2015 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_12_2015.xlsx")
Dec_2015.insert(0, "date_info", "31-12-2015")
Dec_2015['date_info']= pd.to_datetime(Dec_2015['date_info'], format = '%d-%m-%Y' )

In [78]:
#2016
Jan_2016 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_1_2016.xlsx")
Jan_2016.insert(0, "date_info", "29-01-2016")
Jan_2016['date_info']= pd.to_datetime(Jan_2016['date_info'], format = '%d-%m-%Y' )

Feb_2016 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_2_2016.xlsx")
Feb_2016.insert(0, "date_info", "29-02-2016")
Feb_2016['date_info']= pd.to_datetime(Feb_2016['date_info'], format = '%d-%m-%Y' )

Mar_2016 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_3_2016.xlsx")
Mar_2016.insert(0, "date_info", "31-03-2016")
Mar_2016['date_info']= pd.to_datetime(Mar_2016['date_info'], format = '%d-%m-%Y' )

Apr_2016 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_4_2016.xlsx")
Apr_2016.insert(0, "date_info", "29-04-2016")
Apr_2016['date_info']= pd.to_datetime(Apr_2016['date_info'], format = '%d-%m-%Y' )

May_2016 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_5_2016.xlsx")
May_2016.insert(0, "date_info", "31-015-2016")
May_2016['date_info']= pd.to_datetime(May_2016['date_info'], format = '%d-%m-%Y' )

Jun_2016 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_6_2016.xlsx")
Jun_2016.insert(0, "date_info", "30-06-2016")
Jun_2016['date_info']= pd.to_datetime(Jun_2016['date_info'], format = '%d-%m-%Y' )

Jul_2016 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_27_7_2016.xlsx")
Jul_2016.insert(0, "date_info", "27-07-2016")
Jul_2016['date_info']= pd.to_datetime(Jul_2016['date_info'], format = '%d-%m-%Y' )

Aug_2016 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_8_2016.xlsx")
Aug_2016.insert(0, "date_info", "31-08-2016")
Aug_2016['date_info']= pd.to_datetime(Aug_2016['date_info'], format = '%d-%m-%Y' )

Sep_2016 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_9_2016.xlsx")
Sep_2016.insert(0, "date_info", "30-09-2016")
Sep_2016['date_info']= pd.to_datetime(Sep_2016['date_info'], format = '%d-%m-%Y' )

Oct_2016 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_10_2016.xlsx")
Oct_2016.insert(0, "date_info", "31-10-2016")
Oct_2016['date_info']= pd.to_datetime(Oct_2016['date_info'], format = '%d-%m-%Y' )

Nov_2016 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_11_2016.xlsx")
Nov_2016.insert(0, "date_info", "30-11-2016")
Nov_2016['date_info']= pd.to_datetime(Nov_2016['date_info'], format = '%d-%m-%Y' )

Dec_2016 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_12_2016.xlsx")
Dec_2016.insert(0, "date_info", "30-12-2016")
Dec_2016['date_info']= pd.to_datetime(Dec_2016['date_info'], format = '%d-%m-%Y' )

ValueError: time data '31-015-2016' does not match format '%d-%m-%Y' (match)

In [79]:
#2017
Jan_2017 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_1_2017.xlsx")
Jan_2017.insert(0, "date_info", "31-01-2017")
Jan_2017['date_info']= pd.to_datetime(Jan_2017['date_info'], format = '%d-%m-%Y' )

Feb_2017 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_2_2017.xlsx")
Feb_2017.insert(0, "date_info", "28-02-2017")
Feb_2017['date_info']= pd.to_datetime(Feb_2017['date_info'], format = '%d-%m-%Y' )

Mar_2017 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_3_2017.xlsx")
Mar_2017.insert(0, "date_info", "31-03-2017")
Mar_2017['date_info']= pd.to_datetime(Mar_2017['date_info'], format = '%d-%m-%Y' )

Apr_2017 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_4_2017.xlsx")
Apr_2017.insert(0, "date_info", "28-04-2017")
Apr_2017['date_info']= pd.to_datetime(Apr_2017['date_info'], format = '%d-%m-%Y' )

May_2017 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_5_2017.xlsx")
May_2017.insert(0, "date_info", "31-05-2017")
May_2017['date_info']= pd.to_datetime(May_2017['date_info'], format = '%d-%m-%Y' )

Jun_2017 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_6_2017.xlsx")
Jun_2017.insert(0, "date_info", "28-06-2017")
Jun_2017['date_info']= pd.to_datetime(Jun_2017['date_info'], format = '%d-%m-%Y' )

Jul_2017 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_7_2017.xlsx")
Jul_2017.insert(0, "date_info", "31-07-2017")
Jul_2017['date_info']= pd.to_datetime(Jul_2017['date_info'], format = '%d-%m-%Y' )

Aug_2017 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_8_2017.xlsx")
Aug_2017.insert(0, "date_info", "31-08-2017")
Aug_2017['date_info']= pd.to_datetime(Aug_2017['date_info'], format = '%d-%m-%Y' )

Sep_2017 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_9_2017.xlsx")
Sep_2017.insert(0, "date_info", "29-09-2017")
Sep_2017['date_info']= pd.to_datetime(Sep_2017['date_info'], format = '%d-%m-%Y' )

Oct_2017 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_10_2017.xlsx")
Oct_2017.insert(0, "date_info", "31-10-2017")
Oct_2017['date_info']= pd.to_datetime(Oct_2017['date_info'], format = '%d-%m-%Y' )

Nov_2017 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_11_2017.xlsx")
Nov_2017.insert(0, "date_info", "30-11-2017")
Nov_2017['date_info']= pd.to_datetime(Nov_2017['date_info'], format = '%d-%m-%Y' )

Dec_2017 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_12_2017.xlsx")
Dec_2017.insert(0, "date_info", "29-12-2017")
Dec_2017['date_info']= pd.to_datetime(Dec_2017['date_info'], format = '%d-%m-%Y' )

In [80]:
#2018
Jan_2018 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_1_2018.xlsx")
Jan_2018.insert(0, "date_info", "31-01-2018")
Jan_2018['date_info']= pd.to_datetime(Jan_2018['date_info'], format = '%d-%m-%Y' )

Feb_2018 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_2_2018.xlsx")
Feb_2018.insert(0, "date_info", "28-02-2018")
Feb_2018['date_info']= pd.to_datetime(Feb_2018['date_info'], format = '%d-%m-%Y' )

Mar_2018 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_3_2018.xlsx")
Mar_2018.insert(0, "date_info", "28-03-2018")
Mar_2018['date_info']= pd.to_datetime(Mar_2018['date_info'], format = '%d-%m-%Y' )

Apr_2018 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_4_2018.xlsx")
Apr_2018.insert(0, "date_info", "30-04-2018")
Apr_2018['date_info']= pd.to_datetime(Apr_2018['date_info'], format = '%d-%m-%Y' )

May_2018 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_5_2018.xlsx")
May_2018.insert(0, "date_info", "31-05-2018")
May_2018['date_info']= pd.to_datetime(May_2018['date_info'], format = '%d-%m-%Y' )

Jun_2018 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_6_2018.xlsx")
Jun_2018.insert(0, "date_info", "28-06-2018")
Jun_2018['date_info']= pd.to_datetime(Jun_2018['date_info'], format = '%d-%m-%Y' )

Jul_2018 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_7_2018.xlsx")
Jul_2018.insert(0, "date_info", "31-07-2018")
Jul_2018['date_info']= pd.to_datetime(Jul_2018['date_info'], format = '%d-%m-%Y' )

Aug_2018 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_8_2018.xlsx")
Aug_2018.insert(0, "date_info", "29-08-2018")
Aug_2018['date_info']= pd.to_datetime(Aug_2018['date_info'], format = '%d-%m-%Y' )

Sep_2018 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_9_2018.xlsx")
Sep_2018.insert(0, "date_info", "28-09-2018")
Sep_2018['date_info']= pd.to_datetime(Sep_2018['date_info'], format = '%d-%m-%Y' )

Oct_2018 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_10_2018.xlsx")
Oct_2018.insert(0, "date_info", "31-10-2018")
Oct_2018['date_info']= pd.to_datetime(Oct_2018['date_info'], format = '%d-%m-%Y' )

Nov_2018 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_11_2018.xlsx")
Nov_2018.insert(0, "date_info", "30-11-2018")
Nov_2018['date_info']= pd.to_datetime(Nov_2018['date_info'], format = '%d-%m-%Y' )

Dec_2018 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_12_2018.xlsx")
Dec_2018.insert(0, "date_info", "31-12-2018")
Dec_2018['date_info']= pd.to_datetime(Dec_2018['date_info'], format = '%d-%m-%Y' )

In [81]:
#2019
Jan_2019 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_1_2019.xlsx")
Jan_2019.insert(0, "date_info", "31-01-2019")
Jan_2019['date_info']= pd.to_datetime(Jan_2019['date_info'], format = '%d-%m-%Y' )

Feb_2019 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_2_2019.xlsx")
Feb_2019.insert(0, "date_info", "28-02-2019")
Feb_2019['date_info']= pd.to_datetime(Feb_2019['date_info'], format = '%d-%m-%Y' )

Mar_2019 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_3_2019.xlsx")
Mar_2019.insert(0, "date_info", "28-03-2019")
Mar_2019['date_info']= pd.to_datetime(Mar_2019['date_info'], format = '%d-%m-%Y' )

Apr_2019 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_4_2019.xlsx")
Apr_2019.insert(0, "date_info", "30-04-2019")
Apr_2019['date_info']= pd.to_datetime(Apr_2019['date_info'], format = '%d-%m-%Y' )

May_2019 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_5_2019.xlsx")
May_2019.insert(0, "date_info", "31-05-2019")
May_2019['date_info']= pd.to_datetime(May_2019['date_info'], format = '%d-%m-%Y' )

Jun_2019 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_6_2019.xlsx")
Jun_2019.insert(0, "date_info", "28-06-2019")
Jun_2019['date_info']= pd.to_datetime(Jun_2019['date_info'], format = '%d-%m-%Y' )

Jul_2019 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_7_2019.xlsx")
Jul_2019.insert(0, "date_info", "31-07-2019")
Jul_2019['date_info']= pd.to_datetime(Jul_2019['date_info'], format = '%d-%m-%Y' )

Aug_2019 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_27_8_2019.xlsx")
Aug_2019.insert(0, "date_info", "27-08-2019")
Aug_2019['date_info']= pd.to_datetime(Aug_2019['date_info'], format = '%d-%m-%Y' )

Sep_2019 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_9_2019.xlsx")
Sep_2019.insert(0, "date_info", "30-19-2019")
Sep_2019['date_info']= pd.to_datetime(Sep_2019['date_info'], format = '%d-%m-%Y' )

Oct_2019 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_10_2019.xlsx")
Oct_2019.insert(0, "date_info", "31-10-2019")
Oct_2019['date_info']= pd.to_datetime(Oct_2019['date_info'], format = '%d-%m-%Y' )

Nov_2019 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_11_2019.xlsx")
Nov_2019.insert(0, "date_info", "29-11-2019")
Nov_2019['date_info']= pd.to_datetime(Nov_2019['date_info'], format = '%d-%m-%Y' )

Dec_2019 = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_12_2019.xlsx")
Dec_2019.insert(0, "date_info", "31-21-2019")
Dec_2019['date_info']= pd.to_datetime(Dec_2019['date_info'], format = '%d-%m-%Y' )

ValueError: time data '30-19-2019' does not match format '%d-%m-%Y' (match)

In [82]:
#2020
Jan_2020  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_1_2020.xlsx")
Jan_2020.insert(0, "date_info", "31-01-2020")
Jan_2020['date_info']= pd.to_datetime(Jan_2020['date_info'], format = '%d-%m-%Y' )

Feb_2020  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_2_2020.xlsx")
Feb_2020.insert(0, "date_info", "28-02-2020")
Feb_2020['date_info']= pd.to_datetime(Feb_2020['date_info'], format = '%d-%m-%Y' )

Mar_2020  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_3_2020.xlsx")
Mar_2020.insert(0, "date_info", "31-03-2020")
Mar_2020['date_info']= pd.to_datetime(Mar_2020['date_info'], format = '%d-%m-%Y' )

Apr_2020  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_4_2020.xlsx")
Apr_2020.insert(0, "date_info", "30-04-2020")
Apr_2020['date_info']= pd.to_datetime(Apr_2020['date_info'], format = '%d-%m-%Y' )

May_2020  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_5_2020.xlsx")
May_2020.insert(0, "date_info", "29-05-2020")
May_2020['date_info']= pd.to_datetime(May_2020['date_info'], format = '%d-%m-%Y' )

Jun_2020  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_6_2020.xlsx")
Jun_2020.insert(0, "date_info", "30-06-2020")
Jun_2020['date_info']= pd.to_datetime(Jun_2020['date_info'], format = '%d-%m-%Y' )

Jul_2020  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_7_2020.xlsx")
Jul_2020.insert(0, "date_info", "31-07-2020")
Jul_2020['date_info']= pd.to_datetime(Jul_2020['date_info'], format = '%d-%m-%Y' )

Aug_2020  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_8_2020.xlsx")
Aug_2020.insert(0, "date_info", "31-08-2020")
Aug_2020['date_info']= pd.to_datetime(Aug_2020['date_info'], format = '%d-%m-%Y' )

Sep_2020  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_9_2020.xlsx")
Sep_2020.insert(0, "date_info", "30-09-2020")
Sep_2020['date_info']= pd.to_datetime(Sep_2020['date_info'], format = '%d-%m-%Y' )

Oct_2020  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_10_2020.xlsx")
Oct_2020.insert(0, "date_info", "30-10-2020")
Oct_2020['date_info']= pd.to_datetime(Oct_2020['date_info'], format = '%d-%m-%Y' )

Nov_2020  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_11_2020.xlsx")
Nov_2020.insert(0, "date_info", "30-11-2020")
Nov_2020['date_info']= pd.to_datetime(Nov_2020['date_info'], format = '%d-%m-%Y' )

Dec_2020  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_12_2020.xlsx")
Dec_2020.insert(0, "date_info", "31-12-2020")
Dec_2020['date_info']= pd.to_datetime(Dec_2020['date_info'], format = '%d-%m-%Y' )

In [86]:
#2021
Jan_2021  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_1_2021.xlsx")
Jan_2021.insert(0, "date_info", "29-01-2021")
Jan_2021['date_info']= pd.to_datetime(Jan_2021['date_info'], format = '%d-%m-%Y' )

Feb_2021  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_26_2_2021.xlsx")
Feb_2021.insert(0, "date_info", "26-02-2021")
Feb_2021['date_info']= pd.to_datetime(Feb_2021['date_info'], format = '%d-%m-%Y' )

Mar_2021  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_3_2021.xlsx")
Mar_2021.insert(0, "date_info", "31-03-2021")
Mar_2021['date_info']= pd.to_datetime(Mar_2021['date_info'], format = '%d-%m-%Y' )

Apr_2021  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_4_2021.xlsx")
Apr_2021.insert(0, "date_info", "30-04-2021")
Apr_2021['date_info']= pd.to_datetime(Apr_2021['date_info'], format = '%d-%m-%Y' )

May_2021  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_5_2021.xlsx")
May_2021.insert(0, "date_info", "31-05-2021")
May_2021['date_info']= pd.to_datetime(May_2021['date_info'], format = '%d-%m-%Y' )

Jun_2021  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_6_2021.xlsx")
Jun_2021.insert(0, "date_info", "30-06-2021")
Jun_2021['date_info']= pd.to_datetime(Jun_2021['date_info'], format = '%d-%m-%Y' )

Jul_2021  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_7_2021.xlsx")
Jul_2021.insert(0, "date_info", "30-07-2021")
Jul_2021['date_info']= pd.to_datetime(Jul_2021['date_info'], format = '%d-%m-%Y' )

Aug_2021  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_8_2021.xlsx")
Aug_2021.insert(0, "date_info", "31-08-2021")
Aug_2021['date_info']= pd.to_datetime(Aug_2021['date_info'], format = '%d-%m-%Y' )

Sep_2021  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_9_2021.xlsx")
Sep_2021.insert(0, "date_info", "30-09-2021")
Sep_2021['date_info']= pd.to_datetime(Sep_2021['date_info'], format = '%d-%m-%Y' )

Oct_2021  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_10_2021.xlsx")
Oct_2021.insert(0, "date_info", "29-10-2021")
Oct_2021['date_info']= pd.to_datetime(Oct_2021['date_info'], format = '%d-%m-%Y' )

Nov_2021  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_11_2021.xlsx")
Nov_2021.insert(0, "date_info", "30-11-2021")
Nov_2021['date_info']= pd.to_datetime(Nov_2021['date_info'], format = '%d-%m-%Y' )

Dec_2021  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_12_2021.xlsx")
Dec_2021.insert(0, "date_info", "31-12-2021")
Dec_2021['date_info']= pd.to_datetime(Dec_2021['date_info'], format = '%d-%m-%Y' )

In [87]:
#2022
Jan_2022  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_1_2022.xlsx")
Jan_2022.insert(0, "date_info", "31-01-2022")
Jan_2022['date_info']= pd.to_datetime(Jan_2022['date_info'], format = '%d-%m-%Y' )

Feb_2022  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_28_2_2022.xlsx")
Feb_2022.insert(0, "date_info", "28-02-2022")
Feb_2022['date_info']= pd.to_datetime(Feb_2022['date_info'], format = '%d-%m-%Y' )

Mar_2022  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_3_2022.xlsx")
Mar_2022.insert(0, "date_info", "31-03-2022")
Mar_2022['date_info']= pd.to_datetime(Mar_2022['date_info'], format = '%d-%m-%Y' )

Apr_2022  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_29_4_2022.xlsx")
Apr_2022.insert(0, "date_info", "29-04-2022")
Apr_2022['date_info']= pd.to_datetime(Apr_2022['date_info'], format = '%d-%m-%Y' )

May_2022  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_5_2022.xlsx")
May_2022.insert(0, "date_info", "31-05-2022")
May_2022['date_info']= pd.to_datetime(May_2022['date_info'], format = '%d-%m-%Y' )

Jun_2022  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_30_6_2022.xlsx")
Jun_2022.insert(0, "date_info", "30-06-2022")
Jun_2022['date_info']= pd.to_datetime(Jun_2022['date_info'], format = '%d-%m-%Y' )

Jul_2022  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_27_7_2022.xlsx")
Jul_2022.insert(0, "date_info", "27-07-2022")
Jul_2022['date_info']= pd.to_datetime(Jul_2022['date_info'], format = '%d-%m-%Y' )

Aug_2022  = pd.read_excel (r"../../_data/sbs/B_RawData/bancos/table_clean_31_8_2022.xlsx")
Aug_2022.insert(0, "date_info", "31-08-2022")
Aug_2022['date_info']= pd.to_datetime(Aug_2022['date_info'], format = '%d-%m-%Y' )

2. Append all this datasets and generate a unique dataframe. This newdataset should have information at `rate interest` and `date` level. The columns should be the name of the banks. Be careful since not all the excel files have the same format. **It is totally prohibited to manipulate manually the excel files. This kind of action means NO GRADE on this project.**
3. What are the top 5 banks each year with the highest interest rate at `Préstamos hipotecarios para vivienda`, `Consumo -
Tarjetas de Crédito`. Present a dataframe with these variables: `year`, `rate_concept`, `banks`, `rate_value`.
4. We want to save this dataset in the folder **_output/sbs/group_#**, but we want to save a file per bank. We want to have the information disaggregated at the bank level. Please, save your files with the name of the bank. Avoid blank spaces and use only lowercase letters. Generate the folder of your group using python code. **Hint: os library**