# Assigment 4

This assigment will be graded if everything works well. I will run the script as once and everything should be done without errors and mistakes. I should be able to run your scripts in my computer and get all the results. **USE RELATIVE PATHS**. An error or exception or anything that breaks the code will means NO GRADE (0). Additionally, you are not able to modify any file handly. It also means NO GRADE (0). Comment everything you think will help others read your script. We expect 0 errors using GitHub. Everything will be graded!

**ASK EVERYTHING! WE ARE HERE TO HELP YOU!**

In this path **..\_data\sbs\B_RawData\bancos** you will find scraped data from [this link](https://www.sbs.gob.pe/app/pp/EstadisticasSAEEPortal/Paginas/TIActivaTipoCreditoEmpresa.aspx?tip=B). We get all the information of the last available day of every each month.

1. Import all the data and generate a column named as `date_info` that should have the day to information corresponds.
2. Append all this datasets and generate a unique dataframe. This newdataset should have information at `rate interest` and `date` level. The columns should be the name of the banks. Be careful since not all the excel files have the same format. **It is totally prohibited to manipulate manually the excel files. This kind of action means NO GRADE on this project.**
3. What are the top 5 banks each year with the highest interest rate at `Préstamos hipotecarios para vivienda`, `Consumo -
Tarjetas de Crédito`. Present a dataframe with these variables: `year`, `rate_concept`, `banks`, `rate_value`.
4. We want to save this dataset in the folder **_output/sbs/group_#**, but we want to save a file per bank. We want to have the information disaggregated at the bank level. Please, save your files with the name of the bank. Avoid blank spaces and use only lowercase letters. Generate the folder of your group using python code. **Hint: os library**

### Answers:

In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime
import re

#### Answer 1:

In [2]:
xlsx_files = [*map(lambda x: x[12:-5], os.listdir('../../_data/sbs/B_RawData/bancos'))]

In [3]:
d = {}
for x in xlsx_files:
    d["table_"+x] = pd.read_excel(r'../../_data/sbs/B_RawData/bancos/table_clean_'+x+'.xlsx')
    d["table_"+x]["date_info"] = datetime.strptime(x, "%d_%m_%Y").date()

#### Answer 2:

In [4]:
# Identificar patrón en el formato de los dataframes
df = pd.DataFrame(columns = ["SegundaColumna", "Fecha"])
i = 0

for x in xlsx_files:
    df.loc[i,"SegundaColumna"] = d["table_"+x].columns[1]
    df.loc[i,"Fecha"] = d["table_"+x].iloc[0,-1]
    i += 1

df = df.sort_values("Fecha").reset_index()

for x in range(np.shape(df)[0]):
    print(f'Primera columna: [{df.loc[x,"SegundaColumna"]}] y Fecha: [{df.loc[x,"Fecha"]}]')

Primera columna: [BBVA] y Fecha: [2001-03-31]
Primera columna: [COMERCIAL] y Fecha: [2002-09-30]
Primera columna: [COMERCIAL] y Fecha: [2002-10-31]
Primera columna: [COMERCIAL] y Fecha: [2002-11-29]
Primera columna: [COMERCIAL] y Fecha: [2002-12-31]
Primera columna: [COMERCIAL] y Fecha: [2003-01-31]
Primera columna: [COMERCIAL] y Fecha: [2003-02-28]
Primera columna: [COMERCIAL] y Fecha: [2003-03-31]
Primera columna: [COMERCIAL] y Fecha: [2003-04-30]
Primera columna: [COMERCIAL] y Fecha: [2003-05-30]
Primera columna: [COMERCIAL] y Fecha: [2003-06-30]
Primera columna: [COMERCIAL] y Fecha: [2003-07-31]
Primera columna: [COMERCIAL] y Fecha: [2003-08-29]
Primera columna: [COMERCIAL] y Fecha: [2003-09-30]
Primera columna: [COMERCIAL] y Fecha: [2003-10-31]
Primera columna: [COMERCIAL] y Fecha: [2003-11-28]
Primera columna: [COMERCIAL] y Fecha: [2003-12-31]
Primera columna: [COMERCIAL] y Fecha: [2004-01-29]
Primera columna: [COMERCIAL] y Fecha: [2004-02-26]
Primera columna: [COMERCIAL] y Fecha: [2004-03-31]
Primera columna: [COMERCIAL] y Fecha: [2004-04-30]
Primera columna: [COMERCIAL] y Fecha: [2004-05-31]
Primera columna: [COMERCIAL] y Fecha: [2004-06-30]
Primera columna: [COMERCIAL] y Fecha: [2004-07-30]
Primera columna: [COMERCIAL] y Fecha: [2004-08-31]
Primera columna: [COMERCIAL] y Fecha: [2004-09-30]
Primera columna: [COMERCIAL] y Fecha: [2004-10-29]
Primera columna: [COMERCIAL] y Fecha: [2004-11-30]
Primera columna: [COMERCIAL] y Fecha: [2004-12-31]
Primera columna: [COMERCIAL] y Fecha: [2005-01-31]
Primera columna: [COMERCIAL] y Fecha: [2005-02-28]
Primera columna: [COMERCIAL] y Fecha: [2005-03-31]
Primera columna: [COMERCIAL] y Fecha: [2005-04-29]
Primera columna: [COMERCIAL] y Fecha: [2005-05-31]
Primera columna: [COMERCIAL] y Fecha: [2005-06-30]
Primera columna: [COMERCIAL] y Fecha: [2005-07-27]
Primera columna: [COMERCIAL] y Fecha: [2005-08-31]
Primera columna: [COMERCIAL] y Fecha: [2005-09-30]
Primera columna: [COMERCIAL] y Fecha: [2005-10-31]
Primera columna: [COMERCIAL] y Fecha: [2005-11-29]
Primera columna: [COMERCIAL] y Fecha: [2005-12-30]
Primera columna: [COMERCIAL] y Fecha: [2006-01-31]
Primera columna: [COMERCIAL] y Fecha: [2006-02-28]
Primera columna: [COMERCIAL] y Fecha: [2006-03-31]
Primera columna: [COMERCIAL] y Fecha: [2006-04-28]
Primera columna: [COMERCIAL] y Fecha: [2006-05-31]
Primera columna: [COMERCIAL] y Fecha: [2006-06-30]
Primera columna: [COMERCIAL] y Fecha: [2006-07-31]
Primera columna: [COMERCIAL] y Fecha: [2006-08-31]
Primera columna: [COMERCIAL] y Fecha: [2006-09-29]
Primera columna: [COMERCIAL] y Fecha: [2006-10-31]
Primera columna: [COMERCIAL] y Fecha: [2006-11-30]
Primera columna: [COMERCIAL] y Fecha: [2006-12-29]
Primera columna: [COMERCIAL] y Fecha: [2007-01-31]
Primera columna: [COMERCIAL] y Fecha: [2007-02-28]
Primera columna: [COMERCIAL] y Fecha: [2007-03-30]
Primera columna: [COMERCIAL] y Fecha: [2007-04-30]
Primera columna: [COMERCIAL] y Fecha: [2007-05-31]
Primera columna: [COMERCIAL] y Fecha: [2007-06-28]
Primera columna: [COMERCIAL] y Fecha: [2007-07-31]
Primera columna: [COMERCIAL] y Fecha: [2007-08-31]
Primera columna: [COMERCIAL] y Fecha: [2007-09-28]
Primera columna: [COMERCIAL] y Fecha: [2007-10-31]
Primera columna: [COMERCIAL] y Fecha: [2007-11-30]
Primera columna: [COMERCIAL] y Fecha: [2007-12-31]
Primera columna: [COMERCIAL] y Fecha: [2008-01-31]
Primera columna: [COMERCIAL] y Fecha: [2008-02-29]
Primera columna: [COMERCIAL] y Fecha: [2008-03-31]
Primera columna: [COMERCIAL] y Fecha: [2008-04-30]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2008-05-30]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2008-06-30]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2008-07-31]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2008-08-29]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2008-09-30]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2008-10-31]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2008-11-28]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2008-12-30]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2009-01-30]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2009-02-27]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2009-03-31]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2009-04-30]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2009-05-29]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2009-06-30]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2009-07-31]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2009-08-31]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2009-09-30]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2009-10-30]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2009-11-30]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2009-12-30]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2010-01-29]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2010-02-26]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2010-03-31]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2010-04-30]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2010-05-31]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2010-06-30]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2010-07-27]
Primera columna: [CRÉDITOS COMERCIALES] y Fecha: [2010-08-31]
Primera columna: [Continental] y Fecha: [2010-09-30]
Primera columna: [Continental] y Fecha: [2010-10-29]
Primera columna: [Continental] y Fecha: [2010-11-30]
Primera columna: [Continental] y Fecha: [2010-12-31]
Primera columna: [Continental] y Fecha: [2011-01-31]
Primera columna: [Continental] y Fecha: [2011-02-28]
Primera columna: [Continental] y Fecha: [2011-03-31]
Primera columna: [Continental] y Fecha: [2011-04-29]
Primera columna: [Continental] y Fecha: [2011-05-31]
Primera columna: [Continental] y Fecha: [2011-06-30]
Primera columna: [Continental] y Fecha: [2011-07-27]
Primera columna: [Continental] y Fecha: [2011-08-31]
Primera columna: [Continental] y Fecha: [2011-09-30]
Primera columna: [Continental] y Fecha: [2011-10-28]
Primera columna: [Continental] y Fecha: [2011-11-30]
Primera columna: [Continental] y Fecha: [2011-12-30]
Primera columna: [Continental] y Fecha: [2012-01-31]
Primera columna: [Continental] y Fecha: [2012-02-29]
Primera columna: [Continental] y Fecha: [2012-03-30]
Primera columna: [Continental] y Fecha: [2012-04-30]
Primera columna: [Continental] y Fecha: [2012-05-31]
Primera columna: [Continental] y Fecha: [2012-06-28]
Primera columna: [Continental] y Fecha: [2012-07-31]
Primera columna: [Continental] y Fecha: [2012-08-29]
Primera columna: [Continental] y Fecha: [2012-09-28]
Primera columna: [Continental] y Fecha: [2012-10-31]
Primera columna: [Continental] y Fecha: [2012-11-30]
Primera columna: [Continental] y Fecha: [2012-12-28]
Primera columna: [Continental] y Fecha: [2013-01-31]
Primera columna: [Continental] y Fecha: [2013-02-28]
Primera columna: [Continental] y Fecha: [2013-03-27]
Primera columna: [Continental] y Fecha: [2013-04-30]
Primera columna: [Continental] y Fecha: [2013-05-31]
Primera columna: [Continental] y Fecha: [2013-06-28]
Primera columna: [Continental] y Fecha: [2013-07-31]
Primera columna: [Continental] y Fecha: [2013-08-29]
Primera columna: [Continental] y Fecha: [2013-09-30]
Primera columna: [Continental] y Fecha: [2013-10-31]
Primera columna: [Continental] y Fecha: [2013-11-29]
Primera columna: [Continental] y Fecha: [2013-12-30]
Primera columna: [Continental] y Fecha: [2014-01-31]
Primera columna: [Continental] y Fecha: [2014-02-28]
Primera columna: [Continental] y Fecha: [2014-03-31]
Primera columna: [Continental] y Fecha: [2014-04-30]
Primera columna: [Continental] y Fecha: [2014-05-30]
Primera columna: [Continental] y Fecha: [2014-06-30]
Primera columna: [Continental] y Fecha: [2014-07-31]
Primera columna: [Continental] y Fecha: [2014-08-29]
Primera columna: [Continental] y Fecha: [2014-09-30]
Primera columna: [Continental] y Fecha: [2014-10-31]
Primera columna: [Continental] y Fecha: [2014-11-28]
Primera columna: [Continental] y Fecha: [2014-12-31]
Primera columna: [Continental] y Fecha: [2015-01-30]
Primera columna: [Continental] y Fecha: [2015-02-27]
Primera columna: [Continental] y Fecha: [2015-03-31]
Primera columna: [Continental] y Fecha: [2015-04-30]
Primera columna: [Continental] y Fecha: [2015-05-29]
Primera columna: [Continental] y Fecha: [2015-06-30]
Primera columna: [Continental] y Fecha: [2015-07-31]
Primera columna: [Continental] y Fecha: [2015-08-31]
Primera columna: [Continental] y Fecha: [2015-09-30]
Primera columna: [Continental] y Fecha: [2015-10-30]
Primera columna: [Continental] y Fecha: [2015-11-30]
Primera columna: [Continental] y Fecha: [2015-12-31]
Primera columna: [Continental] y Fecha: [2016-01-29]
Primera columna: [Continental] y Fecha: [2016-02-29]
Primera columna: [Continental] y Fecha: [2016-03-31]
Primera columna: [Continental] y Fecha: [2016-04-29]
Primera columna: [Continental] y Fecha: [2016-05-31]
Primera columna: [Continental] y Fecha: [2016-06-30]
Primera columna: [Continental] y Fecha: [2016-07-27]
Primera columna: [Continental] y Fecha: [2016-08-31]
Primera columna: [Continental] y Fecha: [2016-09-30]
Primera columna: [Continental] y Fecha: [2016-10-31]
Primera columna: [Continental] y Fecha: [2016-11-30]
Primera columna: [Continental] y Fecha: [2016-12-30]
Primera columna: [Continental] y Fecha: [2017-01-31]
Primera columna: [Continental] y Fecha: [2017-02-28]
Primera columna: [Continental] y Fecha: [2017-03-31]
Primera columna: [Continental] y Fecha: [2017-04-28]
Primera columna: [Continental] y Fecha: [2017-05-31]
Primera columna: [Continental] y Fecha: [2017-06-28]
Primera columna: [Continental] y Fecha: [2017-07-31]
Primera columna: [Continental] y Fecha: [2017-08-31]
Primera columna: [Continental] y Fecha: [2017-09-29]
Primera columna: [Continental] y Fecha: [2017-10-31]
Primera columna: [Continental] y Fecha: [2017-11-30]
Primera columna: [Continental] y Fecha: [2017-12-29]
Primera columna: [Continental] y Fecha: [2018-01-31]
Primera columna: [Continental] y Fecha: [2018-02-28]
Primera columna: [Continental] y Fecha: [2018-03-28]
Primera columna: [Continental] y Fecha: [2018-04-30]
Primera columna: [Continental] y Fecha: [2018-05-31]
Primera columna: [Continental] y Fecha: [2018-06-28]
Primera columna: [Continental] y Fecha: [2018-07-31]
Primera columna: [Continental] y Fecha: [2018-08-29]
Primera columna: [Continental] y Fecha: [2018-09-28]
Primera columna: [Continental] y Fecha: [2018-10-31]
Primera columna: [Continental] y Fecha: [2018-11-30]
Primera columna: [Continental] y Fecha: [2018-12-31]
Primera columna: [Continental] y Fecha: [2019-01-31]
Primera columna: [Continental] y Fecha: [2019-02-28]
Primera columna: [Continental] y Fecha: [2019-03-28]
Primera columna: [Continental] y Fecha: [2019-04-30]
Primera columna: [Continental] y Fecha: [2019-05-31]
Primera columna: [BBVA] y Fecha: [2019-06-28]
Primera columna: [BBVA] y Fecha: [2019-07-31]
Primera columna: [BBVA] y Fecha: [2019-08-27]
Primera columna: [BBVA] y Fecha: [2019-09-30]
Primera columna: [BBVA] y Fecha: [2019-10-30]
Primera columna: [BBVA] y Fecha: [2019-11-29]
Primera columna: [BBVA] y Fecha: [2019-12-31]
Primera columna: [BBVA] y Fecha: [2020-01-31]
Primera columna: [BBVA] y Fecha: [2020-02-28]
Primera columna: [BBVA] y Fecha: [2020-03-31]
Primera columna: [BBVA] y Fecha: [2020-04-30]
Primera columna: [BBVA] y Fecha: [2020-05-29]
Primera columna: [BBVA] y Fecha: [2020-06-30]
Primera columna: [BBVA] y Fecha: [2020-07-31]
Primera columna: [BBVA] y Fecha: [2020-08-31]
Primera columna: [BBVA] y Fecha: [2020-09-30]
Primera columna: [BBVA] y Fecha: [2020-10-30]
Primera columna: [BBVA] y Fecha: [2020-11-30]
Primera columna: [BBVA] y Fecha: [2020-12-31]
Primera columna: [BBVA] y Fecha: [2021-01-29]
Primera columna: [BBVA] y Fecha: [2021-02-26]
Primera columna: [BBVA] y Fecha: [2021-03-31]
Primera columna: [BBVA] y Fecha: [2021-04-30]
Primera columna: [BBVA] y Fecha: [2021-05-31]
Primera columna: [BBVA] y Fecha: [2021-06-30]
Primera columna: [BBVA] y Fecha: [2021-07-30]
Primera columna: [BBVA] y Fecha: [2021-08-31]
Primera columna: [BBVA] y Fecha: [2021-09-30]
Primera columna: [BBVA] y Fecha: [2021-10-29]
Primera columna: [BBVA] y Fecha: [2021-11-30]
Primera columna: [BBVA] y Fecha: [2021-12-31]
Primera columna: [BBVA] y Fecha: [2022-01-31]
Primera columna: [BBVA] y Fecha: [2022-02-28]
Primera columna: [BBVA] y Fecha: [2022-03-31]
Primera columna: [BBVA] y Fecha: [2022-04-29]
Primera columna: [BBVA] y Fecha: [2022-05-31]
Primera columna: [BBVA] y Fecha: [2022-06-30]
Primera columna: [BBVA] y Fecha: [2022-07-27]
Primera columna: [BBVA] y Fecha: [2022-08-31]

In [5]:
# Homogenización de dataframes
for x in xlsx_files:
    if datetime.strptime("30_5_2008", "%d_%m_%Y").date() > datetime.strptime(x, "%d_%m_%Y").date() > datetime.strptime("31_3_2001", "%d_%m_%Y").date():
        d["table_"+x].columns = ['Tasa Anual (%)']+list(d["table_"+x].iloc[1])[1:]
        d["table_"+x] = d["table_"+x].loc[2:,:]
        d["table_"+x] = d["table_"+x].transpose().reset_index()
        d["table_"+x].columns = list(d["table_"+x].iloc[0])
        d["table_"+x] = d["table_"+x].iloc[1:-1,:]
        d["table_"+x]["date_info"] = datetime.strptime(x, "%d_%m_%Y").date()
        d["table_"+x].columns = [*map(lambda k: re.sub("BANCO DE |BANCO | BANCO| DEL PERU| BANK PERU| PERU|\(\*\)","",str(k)), d["table_"+x].columns)]
        d["table_"+x].rename(columns = {"Promedio del Sistema": "Promedio", "BANBIF": "BIF", "B SANTANDER CENTRAL": "SANTANDER"}, inplace = True)
        d["table_"+x].rename(columns = {"FINANCIERO": "PICHINCHA", "AZTECA": "ALFIN"}, inplace = True)
    elif datetime.strptime("30_9_2010", "%d_%m_%Y").date() > datetime.strptime(x, "%d_%m_%Y").date() > datetime.strptime("30_4_2008", "%d_%m_%Y").date():
        d["table_"+x].columns = ['Tasa Anual (%)']+list(d["table_"+x].iloc[1])[1:]
        d["table_"+x] = d["table_"+x].loc[2:,:]
        d["table_"+x] = d["table_"+x].transpose().reset_index()
        d["table_"+x].columns = list(d["table_"+x].iloc[0])
        d["table_"+x] = d["table_"+x].iloc[1:-1,:]
        pos = list(d["table_"+x].iloc[:,1]).index("Tarjetas de Crédito")
        d["table_"+x].iloc[pos:,1:-1] = d["table_"+x].iloc[pos:,2:]
        d["table_"+x]["date_info"] = datetime.strptime(x, "%d_%m_%Y").date()
        d["table_"+x].columns = [*map(lambda k: re.sub("BANCO DE |BANCO | BANCO| DEL PERU| BANK PERU| PERU|\(\*\)","",str(k)), d["table_"+x].columns)]
        d["table_"+x].rename(columns = {"Promedio del Sistema": "Promedio", "BANBIF": "BIF", "B SANTANDER CENTRAL": "SANTANDER"}, inplace = True)
        d["table_"+x].rename(columns = {"FINANCIERO": "PICHINCHA", "AZTECA": "ALFIN"}, inplace = True)
    else:
        d["table_"+x].columns = [d["table_"+x].columns[0]]+[*map(lambda k: k.upper(), d["table_"+x].columns[1:-2])]+d["table_"+x].columns[-2:].tolist()
        d["table_"+x].rename(columns = {"CRÉDITO": "CREDITO","CONTINENTAL": "BBVA", "BANCO GNB": "GNB"}, inplace = True)
        d["table_"+x].columns = [*map(lambda k: re.sub("  \*","",str(k)), d["table_"+x].columns)]
        d["table_"+x].rename(columns = {"FINANCIERO": "PICHINCHA", "AZTECA": "ALFIN"}, inplace = True)

In [6]:
# Union de bases de datos
data_rates = d["table_"+xlsx_files[0]]
data_rates = data_rates[list(data_rates.columns[[0,-1]])+list(data_rates.columns[1:-1])]

for x in xlsx_files[1:]:
    data_rates = pd.concat([data_rates,d["table_"+x]])
    
data_rates = data_rates[[*map(lambda k: not bool(re.search("^Nota", str(k))), data_rates["Tasa Anual (%)"])]]
data_rates.drop("nan", axis = "columns", inplace = True)

for x in list(data_rates.columns)[2:]:
    data_rates.loc[data_rates[x] == '-', x] = np.nan
    data_rates.loc[data_rates[x] == 's.i.', x] = np.nan
    data_rates[x] = pd.to_numeric(data_rates[x])

In [7]:
data_rates

,Tasa Anual (%),date_info,TRABAJO,BBVA,COMERCIO,CREDITO,PICHINCHA,BIF,STANDARD CHARTERED,SUDAMERICANO,...,SANTANDER,RIPLEY,ALFIN,DEUTSCHE,GNB,ICBC,BANK OF CHINA,CENCOSUD,CAT,BCI
1,Avances en Cta.Corriente,2004-02-26,NaN,38.92,NaN,73.34,NaN,39.08,NaN,31.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sobregiros,2004-02-26,NaN,48.79,138.18,89.00,NaN,68.30,25.0,58.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dsctos. y préstamos hasta 30 días,2004-02-26,NaN,8.19,47.46,4.62,15.87,14.43,NaN,30.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Dsctos. y préstamos 31 - 90 días,2004-02-26,NaN,5.94,21.61,7.19,15.71,10.91,NaN,11.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Dsctos. y préstamos 91 - 180 días,2004-02-26,NaN,10.00,19.71,5.34,15.82,10.71,NaN,9.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,Préstamos no Revolventes para libre disponibil...,2022-08-31,NaN,22.13,33.35,63.03,26.69,10.00,NaN,NaN,...,NaN,39.93,74.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Préstamos no Revolventes para libre disponibil...,2022-08-31,NaN,18.22,14.66,18.99,33.05,13.39,NaN,NaN,...,NaN,26.03,69.00,NaN,11.30,NaN,NaN,NaN,NaN,NaN
43,Créditos pignoraticios,2022-08-31,NaN,NaN,42.40,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Hipotecarios,2022-08-31,NaN,9.28,9.08,9.27,8.72,9.23,NaN,NaN,...,NaN,NaN,NaN,NaN,8.03,NaN,NaN,NaN,NaN,NaN
45,Préstamos hipotecarios para vivienda,2022-08-31,NaN,9.28,9.08,9.27,8.72,9.23,NaN,NaN,...,NaN,NaN,NaN,NaN,8.03,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Revisar 31_8_2010 y 27_7_2010 parece que tienen estructura diferente
# Problemas en: data_rates.loc[data_rates["BBVA"]=='Tarjetas de Crédito',:]

#### Answer 3:

In [8]:
data_rates["Tasa Anual (%)"] = data_rates["Tasa Anual (%)"].replace(["Tarjetas de crédito abiertas4", "Tarjetas de crédito cerradas5", "Tarjetas de crédito", "Tarjetas de Crdito"], "Tarjetas de Crédito")

In [9]:
data_rates["year"] = [*map(lambda x: x.strftime("%Y"), data_rates["date_info"])]

In [10]:
top5 = data_rates.copy().loc[data_rates["Tasa Anual (%)"].isin(["Préstamos hipotecarios para vivienda","Tarjetas de Crédito"])]
top5.drop(["date_info", "Promedio"], axis = "columns", inplace = True)
top5 = top5.melt(id_vars = ["year", "Tasa Anual (%)"])
top5.columns = ["year", "rate_concept", "banks", "rate_value"]
top5 = top5.sort_values("rate_value", ascending = False).groupby(["year","rate_concept"]).head(5).reset_index(drop = True).sort_values(["year","rate_concept","rate_value"])
top5

     year                          rate_concept      banks  rate_value
179  2001  Préstamos hipotecarios para vivienda        BIF        6.88
178  2001  Préstamos hipotecarios para vivienda        GNB        7.69
177  2001  Préstamos hipotecarios para vivienda  PICHINCHA        8.20
176  2001  Préstamos hipotecarios para vivienda   COMERCIO        8.24
169  2001  Préstamos hipotecarios para vivienda    MIBANCO       14.25
..    ...                                   ...        ...         ...
98   2022                   Tarjetas de Crédito  FALABELLA       78.44
97   2022                   Tarjetas de Crédito  FALABELLA       78.89
96   2022                   Tarjetas de Crédito  FALABELLA       79.03
95   2022                   Tarjetas de Crédito  FALABELLA       79.16
93   2022                   Tarjetas de Crédito  FALABELLA       79.81

[180 rows x 4 columns]

#### Answer 4:

In [11]:
if not os.path.exists("output"):
    os.makedirs("output")
if not os.path.exists("output/sbs"):
    os.makedirs("output/sbs")
if not os.path.exists("output/sbs/group4"):
    os.makedirs("output/sbs/group4")

In [12]:
for x in top5.banks.unique().tolist():
    top5.loc[top5["banks"] == x,:].to_excel("output/sbs/group4/table_"+x.lower()+".xlsx")